Repository pandas-dev/pandas, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mroeschke, @Dr-Irv, @noatamir, @rhshadrach, @attack68

.github/CODEOWNERS:

# github
.github/                          @mroeschke

# ci
ci/                               @mroeschke

# docs
doc/cheatsheet                    @Dr-Irv
doc/source/development            @noatamir

# pandas
pandas/_typing.py                 @Dr-Irv
pandas/core/groupby/*             @rhshadrach
pandas/io/excel/*                 @rhshadrach
pandas/io/formats/style.py        @attack68
pandas/io/formats/style_render.py @attack68
pandas/io/formats/templates       @attack68

fix
  pandas/core/internals/managers.py
Owners: none

move test
  pandas/tests/frame/indexing/test_setitem.py
  pandas/tests/indexing/test_iloc.py
Owners: none

add additional test case from the comments
  pandas/core/internals/managers.py
  pandas/tests/frame/indexing/test_setitem.py
Owners: none

move whatsnew note to 2.3.3
  doc/source/whatsnew/v2.3.0.rst
  doc/source/whatsnew/v2.3.3.rst
Owners: none

MAINT: disable the warning on 3.14 and newer
  pandas/_testing/contexts.py
  pandas/compat/__init__.py
  pandas/compat/_constants.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/indexing.py
  pandas/core/series.py
  pandas/tests/copy_view/test_chained_assignment_deprecation.py
Owners: none

add to at/iat as well
  pandas/core/indexing.py
Owners: none

remove allow failure
  .github/workflows/unit-tests.yml
Owners: @mroeschke

disabled -> broken
  pandas/_testing/contexts.py
  pandas/compat/__init__.py
  pandas/compat/_constants.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/indexing.py
  pandas/core/series.py
  pandas/tests/copy_view/test_chained_assignment_deprecation.py
Owners: none

MNT: migrate from codecs.open to open (#62073)
  pandas/tests/io/formats/test_to_latex.py
  pandas/tests/io/test_common.py
  pandas/util/_print_versions.py
Owners: none

[backport 2.3.x] MNT: migrate from codecs.open to open (#62073) (#62325)
  pandas/tests/io/formats/test_to_latex.py
  pandas/tests/io/test_common.py
  pandas/util/_print_versions.py
Owners: none

TST: run python-dev CI on 3.14-dev (#61950)
  .github/workflows/unit-tests.yml
  pandas/compat/__init__.py
  pandas/compat/_constants.py
  pandas/tests/indexes/test_indexing.py
  pandas/tests/io/parser/test_quoting.py
  pandas/tests/reshape/merge/test_merge.py
  pandas/tests/scalar/period/test_period.py
  pandas/tests/scalar/timestamp/test_constructors.py
  pandas/tests/tools/test_to_datetime.py
Owners: @mroeschke

TYP: improve type annotations and remove unnecessary type ignores (#62315)
  pandas/_version.py
  pandas/core/algorithms.py
  pandas/core/base.py
  pandas/core/groupby/categorical.py
  pandas/core/indexes/base.py
  pandas/util/_print_versions.py
Owners: @rhshadrach

TYP: improve type annotations and remove unnecessary type ignores (#62315)
  pandas/_version.py
  pandas/core/algorithms.py
  pandas/core/base.py
  pandas/core/groupby/categorical.py
  pandas/core/indexes/base.py
  pandas/util/_print_versions.py
Owners: @rhshadrach

docs: move whatsnew to `v2.3.3`
  doc/source/whatsnew/v2.3.3.rst
  doc/source/whatsnew/v3.0.0.rst
Owners: none

docs: replace `string[pyarrow]` with Arrow-backed in whatsnew
  doc/source/whatsnew/v2.3.3.rst
Owners: none

TYP: add type annotations for holidays and dtypes modules
  pandas/core/dtypes/dtypes.py
  pandas/tseries/holiday.py
Owners: none

BUG: fix pyarrow string regex replacement (#62283)
  doc/source/whatsnew/v2.3.3.rst
  pandas/core/arrays/_arrow_string_mixins.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/strings/test_find_replace.py
Owners: none

BUG: fix pyarrow string regex replacement (#62283)
  doc/source/whatsnew/v2.3.3.rst
  pandas/core/arrays/_arrow_string_mixins.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/strings/test_find_replace.py
Owners: none

Backport PR #62283: BUG: fix pyarrow string regex replacement
  doc/source/whatsnew/v2.3.3.rst
  pandas/core/arrays/_arrow_string_mixins.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/strings/test_find_replace.py
Owners: none

fixup merge
  pandas/tests/tools/test_to_datetime.py
Owners: none

String dtype: more informative repr (keeping brief __str__) (#61148)
  pandas/core/arrays/string_.py
  pandas/core/generic.py
  pandas/io/formats/format.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/io/formats/test_to_string.py
Owners: none

BUG: rank with object dtype and small values #62036 (#62227)
  doc/source/whatsnew/v3.0.0.rst
  pandas/_libs/algos.pyx
  pandas/tests/test_algos.py
Owners: none

BUG: rank with object dtype and small values #62036 (#62227)
  doc/source/whatsnew/v3.0.0.rst
  pandas/_libs/algos.pyx
  pandas/tests/test_algos.py
Owners: none
