Repository pandas-dev/pandas, pull requests merged in 2020-02, with the labels that each got.

#31515 REGR: DataFrame.__setitem__(slice, val) is positional
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/frame.py
  pandas/tests/frame/indexing/test_indexing.py
Labels: Indexing

#31520 REGR: to_datetime, unique with OOB values
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/algorithms.py
  pandas/core/tools/datetimes.py
  pandas/tests/indexes/datetimes/test_tools.py
  pandas/tests/test_algos.py
Labels: Algos, Timedelta, Timeseries

#31484 BUG: Array.__setitem__ failing with nullable boolean mask
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/arrays/boolean.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/integer.py
  pandas/core/arrays/interval.py
  pandas/core/arrays/numpy_.py
  pandas/core/arrays/string_.py
  pandas/tests/arrays/test_integer.py
  pandas/tests/extension/base/setitem.py
  pandas/tests/extension/decimal/array.py
Labels: NA - MaskedArrays

#31521 REGR: Fixed slicing DatetimeIndex with date
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/indexes/datetimes.py
  pandas/tests/indexing/test_datetime.py
Labels: Indexing, Timeseries

#31540 Backport PR #31520 on branch 1.0.x (REGR: to_datetime, unique with OOB values)
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/algorithms.py
  pandas/core/tools/datetimes.py
  pandas/tests/indexes/datetimes/test_tools.py
  pandas/tests/test_algos.py
Labels: Regression, Timeseries

#31535 CLN: Replace isinstace(foo, Class) with isinstance(foo, ABCClass)
  pandas/core/arrays/period.py
  pandas/core/indexes/base.py
  pandas/core/reshape/concat.py
  pandas/io/formats/excel.py
Labels: Clean

#30147 CLN: Refactor pandas/tests/base - part3
  pandas/conftest.py
  pandas/core/ops/__init__.py
  pandas/tests/base/test_ops.py
  pandas/tests/indexes/conftest.py
  pandas/tests/indexes/datetimes/test_ops.py
  pandas/tests/indexes/period/test_ops.py
  pandas/tests/indexes/timedeltas/test_ops.py
  pandas/tests/series/conftest.py
Labels: Clean, Testing

#31456 BUG: Groupby.apply wasn't allowing for functions which return lists
  doc/source/whatsnew/v1.0.1.rst
  pandas/_libs/reduction.pyx
  pandas/tests/groupby/test_apply.py
Labels: Groupby, Regression

#31513 REGR: Fixed truncation with na_rep
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/internals/blocks.py
  pandas/tests/io/formats/test_to_csv.py
Labels: IO CSV, Missing-data, Output-Formatting, Regression

#31529 BUG: Series multiplication with timedelta scalar numexpr path
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/ops/array_ops.py
  pandas/tests/arithmetic/test_numeric.py
Labels: Numeric, Regression

#31541 Backport PR #31456 on branch 1.0.x (BUG: Groupby.apply wasn't allowing for functions which return lists)
  doc/source/whatsnew/v1.0.1.rst
  pandas/_libs/reduction.pyx
  pandas/tests/groupby/test_apply.py
Labels: Groupby, Regression

#31543 Backport PR #31529 on branch 1.0.x (BUG: Series multiplication with timedelta scalar numexpr path)
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/ops/array_ops.py
  pandas/tests/arithmetic/test_numeric.py
Labels: Numeric, Regression, Timedelta

#31542 Backport PR #31513 on branch 1.0.x (REGR: Fixed truncation with na_rep)
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/internals/blocks.py
  pandas/tests/io/formats/test_to_csv.py
Labels: IO CSV, Output-Formatting, Regression

#31553 REF: collect MultiIndex indexing, set methods
  pandas/core/indexes/multi.py
Labels: MultiIndex, Refactor

#31425 REF: do all convert_tolerance casting inside Index.get_loc
  doc/source/whatsnew/v1.1.0.rst
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/timedeltas.py
  pandas/tests/series/indexing/test_datetime.py
Labels: Indexing, Timedelta

#31554 REF: move _convert_to_indexer to Loc
  pandas/core/indexing.py
Labels: Indexing, Refactor

#31545 BUG&TST: df.replace fail after converting to new dtype
  pandas/tests/frame/methods/test_replace.py
Labels: Bug, Dtypes, Reshaping

#31483 TST: preserve dtypes on assignment
  pandas/tests/indexing/test_loc.py
Labels: Dtypes, Indexing, Testing

#31527 CLN: libperiod
  pandas/_libs/tslibs/period.pyx
  pandas/tests/scalar/period/test_period.py
Labels: Period, Typing

#31567 WEB: Changed whatsnew href from v0.25.0 to v1.0.0
  web/pandas/index.html
Labels: Docs

#31562 Backport PR: BUG: Array.__setitem__ failing with nullable boolean mask (#31484)
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/arrays/boolean.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/integer.py
  pandas/core/arrays/interval.py
  pandas/core/arrays/numpy_.py
  pandas/core/arrays/string_.py
  pandas/tests/arrays/test_integer.py
  pandas/tests/extension/base/setitem.py
  pandas/tests/extension/decimal/array.py
Labels: Indexing, Missing-data

#31573 CI: Remove warning raising after new matplotlib release
  pandas/tests/plotting/test_converter.py
Labels: CI

#31482 BUG: objToJson.c - fix return value
  doc/source/whatsnew/v1.0.1.rst
  pandas/_libs/src/ujson/python/objToJSON.c
Labels: IO JSON

#31576 Backport PR #31573 on branch 1.0.x (CI: Remove warning raising after new matplotlib release)
  pandas/tests/plotting/test_converter.py
Labels: CI, Visualization

#31565 Fix docstring for to_markdown buf parameter
  pandas/core/generic.py
Labels: Docs

#31577 REF: de-duplicate Period freq conversion code
  pandas/_libs/tslibs/period.pyx
Labels: Clean, Frequency, Period

#31557 REF: organize Series indexing tests
  pandas/tests/series/indexing/test_boolean.py
  pandas/tests/series/indexing/test_datetime.py
  pandas/tests/series/indexing/test_get.py
  pandas/tests/series/indexing/test_indexing.py
  pandas/tests/series/indexing/test_mask.py
  pandas/tests/series/indexing/test_numeric.py
  pandas/tests/series/indexing/test_take.py
  pandas/tests/series/indexing/test_where.py
  pandas/tests/series/methods/test_convert_dtypes.py
  pandas/tests/series/methods/test_head_tail.py
  pandas/tests/series/methods/test_unstack.py
  pandas/tests/series/test_combine_concat.py
Labels: Clean, Indexing, Testing

#31569 BUG accept and deprecate negative integer for max_colwidth
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/config_init.py
  pandas/tests/io/formats/test_format.py
Labels: Deprecate, Output-Formatting

#31579 CLN: Fix ReadMe Badges
  README.md
Labels: Docs

#31578 Backport PR #31482 on branch 1.0.x (BUG: objToJson.c - fix return value)
  doc/source/whatsnew/v1.0.1.rst
  pandas/_libs/src/ujson/python/objToJSON.c
Labels: IO JSON

#31558 REF: organize DataFrame tests for indexing, by-method
  pandas/tests/frame/indexing/test_datetime.py
  pandas/tests/frame/indexing/test_iat.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/frame/indexing/test_where.py
  pandas/tests/frame/indexing/test_xs.py
  pandas/tests/frame/methods/test_combine_first.py
  pandas/tests/frame/methods/test_head_tail.py
  pandas/tests/frame/methods/test_transpose.py
  pandas/tests/frame/methods/test_update.py
  pandas/tests/frame/test_api.py
  pandas/tests/frame/test_combine_concat.py
Labels: Indexing, Refactor, Testing

#31559 REF: CategoricalIndex indexing tests
  pandas/tests/indexes/categorical/test_category.py
  pandas/tests/indexes/categorical/test_indexing.py
  pandas/tests/indexes/categorical/test_map.py
  pandas/tests/indexes/categorical/test_reindex.py
Labels: Categorical, Indexing, Testing

#31525 Unpin openpyxl
  ci/deps/travis-36-cov.yaml
Labels: CI

#31584 Backport PR #31545: BUG&TST: df.replace fail after converting to new …
  pandas/tests/frame/methods/test_replace.py
Labels: Dtypes, Testing

#31380 BUG: Timedelta components no longer rounded with high precision integers
  doc/source/whatsnew/v1.1.0.rst
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/nattype.pyx
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/tests/scalar/timedelta/test_timedelta.py
  pandas/tests/scalar/timestamp/test_timestamp.py
Labels: Timedelta

#31583 REF: Timestamp constructor tests
  pandas/tests/indexes/datetimes/test_constructors.py
  pandas/tests/scalar/timedelta/test_constructors.py
  pandas/tests/scalar/timestamp/test_constructors.py
  pandas/tests/scalar/timestamp/test_timestamp.py
Labels: Refactor, Testing

#31440 BUG: Fix qcut for nullable integers
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/reshape/tile.py
  pandas/tests/arrays/test_integer.py
  pandas/tests/reshape/test_cut.py
  pandas/tests/reshape/test_qcut.py
Labels: Bug, Reshaping

#28933 BUG: Preserve key order when using loc on MultiIndex DataFrame
  doc/source/whatsnew/v1.1.0.rst
  pandas/core/indexes/multi.py
  pandas/tests/test_multilevel.py
Labels: Indexing, MultiIndex

#31585 REF: define _convert_to_indexer in Loc
  pandas/core/indexing.py
Labels: Clean, Indexing

#31552 BUG: to_json not allowing uploads to S3 (#28375)
  doc/source/whatsnew/v1.1.0.rst
  pandas/io/json/_json.py
  pandas/tests/io/json/test_pandas.py
Labels: Bug, IO JSON, IO Network

#31512 CLN: inherit PeriodIndex._box_func
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/period.py
  pandas/core/indexes/timedeltas.py
Labels: Clean, Period

#31510 CLN: remove IndexEngine.set_value
  pandas/_libs/index.pyx
  pandas/core/frame.py
  pandas/core/indexes/base.py
  pandas/core/series.py
  pandas/tests/indexing/test_indexing.py
Labels: Clean, Indexing

#31509 Dead JSON Code Cleanup
  pandas/_libs/src/ujson/python/objToJSON.c
Labels: Clean, IO JSON

#31508 JSON Set Name Cleanup
  pandas/_libs/src/ujson/python/objToJSON.c
Labels: IO JSON

#31506 CLN: No need to use libindex.get_value_at
  pandas/core/base.py
  pandas/core/frame.py
  pandas/core/indexes/base.py
  pandas/core/series.py
  pandas/tests/indexes/period/test_indexing.py
  pandas/tests/series/indexing/test_indexing.py
  pandas/tests/series/indexing/test_numeric.py
Labels: Clean, Indexing

#31485 CLN: named parameters for GroupBy.(mean|median|var|std)
  doc/source/whatsnew/v1.1.0.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_function.py
Labels: Groupby

#31409 PERF/CLN: float-to-int casting
  pandas/core/arrays/integer.py
  pandas/core/common.py
  pandas/core/indexes/base.py
Labels: Dtypes, Performance

#31406 REF: consolidate DTI/TDI/PI get_value in ExtensionIndex, associated cleanups
  pandas/core/indexes/base.py
  pandas/core/indexes/category.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/extension.py
  pandas/core/indexes/interval.py
  pandas/core/indexes/numeric.py
  pandas/core/indexes/period.py
  pandas/core/indexes/timedeltas.py
Labels: Indexing

#31343 TST/CLN: remove setup_method from test_dtypes
  pandas/tests/dtypes/test_dtypes.py
Labels: Clean, Testing

#31401 BUG: preserve object dtype for Index set ops
  doc/source/whatsnew/v1.1.0.rst
  pandas/core/indexes/base.py
  pandas/core/indexes/category.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/datetimes.py
  pandas/tests/indexes/test_base.py
Labels: Bug, Dtypes, Index

#31587 Backport PR #31440 on branch 1.0.x (BUG: Fix qcut for nullable integers)
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/reshape/tile.py
  pandas/tests/arrays/test_integer.py
  pandas/tests/reshape/test_cut.py
  pandas/tests/reshape/test_qcut.py
Labels: Dtypes, Missing-data, Reshaping

#31594 TST: troubleshoot npdev build
  pandas/core/series.py
  pandas/tests/dtypes/test_common.py
  pandas/tests/dtypes/test_dtypes.py
Labels: CI, Testing

#31511 BUG: fix reindexing with a tz-aware index and method='nearest'
  doc/source/whatsnew/v1.1.0.rst
  pandas/core/indexes/base.py
  pandas/tests/frame/indexing/test_indexing.py
Labels: Indexing, Timezones

#31207 BUG: no longer raise user warning when plotting tz aware time series
  doc/source/whatsnew/v1.0.1.rst
  pandas/plotting/_matplotlib/timeseries.py
  pandas/tests/plotting/test_datetimelike.py
Labels: Timezones, Visualization

#31571 DOC fix *_option() docstring
  pandas/_config/config.py
Labels: Docs

#31606 DOC: add back google analytics with the new doc theme
  doc/source/conf.py
Labels: Docs

#31607 DOC: combine regressions in section in v1.0.1 whatsnew
  doc/source/whatsnew/v1.0.1.rst
Labels: Docs

#31383 Raise error in read_csv when arguments header and prefix both are not None
  doc/source/whatsnew/v1.1.0.rst
  pandas/io/parsers.py
  pandas/tests/io/parser/test_common.py
Labels: Error Reporting, IO CSV

#31622 DOC: add redirect for moved json_normalize docstring
  doc/redirects.csv
Labels: Docs

#31631 REGR: Fixed setitem with MultiIndex
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/indexing.py
  pandas/tests/indexing/multiindex/test_setitem.py
Labels: Indexing, MultiIndex, Regression

#31628 replacing .format with f-strings
  pandas/tests/io/test_pickle.py
Labels: Clean, Style

#31475 BUG: Period[us] start_time off by 1 nanosecond
  doc/source/whatsnew/v1.1.0.rst
  pandas/_libs/tslibs/period.pyx
  pandas/tests/scalar/period/test_asfreq.py
Labels: Bug, Period

#31556 [MRG] f-string updates for issue #29547
  pandas/core/reshape/concat.py
  pandas/core/reshape/melt.py
  pandas/core/reshape/merge.py
  pandas/core/reshape/pivot.py
  pandas/core/reshape/reshape.py
  pandas/tests/reshape/merge/test_merge.py
Labels: Style

#31636 CLN: Unreachable branch in Loc._getitem_iterable
  pandas/core/indexing.py
Labels: Clean, Indexing

#31399 PERF: avoid is_bool_indexer check where possible
  pandas/core/series.py
Labels: Indexing, Performance

#31528 REGR: Categorical with np.str_ categories
  doc/source/whatsnew/v1.0.1.rst
  pandas/_libs/hashtable_class_helper.pxi.in
  pandas/tests/arrays/categorical/test_constructors.py
Labels: Categorical, Dtypes

#31502 BUG: Fixed IntervalArray[int].shift
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/arrays/interval.py
  pandas/tests/arrays/interval/test_interval.py
  pandas/tests/extension/base/methods.py
Labels: Interval, Numeric, Regression

#31651 PERF: Cache MultiIndex.levels
  pandas/core/indexes/multi.py
  pandas/tests/indexes/multi/test_get_set.py
Labels: Indexing, MultiIndex, Performance

#31665 whatsnew for MultiIndex levels caching
  doc/source/whatsnew/v1.0.1.rst
Labels: Docs

#31477 REGR: Fix TypeError in groupby min / max of period column
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/groupby/ops.py
  pandas/tests/groupby/aggregate/test_aggregate.py
Labels: Groupby, Regression

#31666 BUG: Block.iget not wrapping timedelta64/datetime64
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/internals/blocks.py
  pandas/tests/frame/indexing/test_indexing.py
Labels: Indexing

#31671 Backport PR #31477 on branch 1.0.x (REGR: Fix TypeError in groupby min / max of period column)
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/groupby/ops.py
  pandas/tests/groupby/aggregate/test_aggregate.py
Labels: Groupby, Period

#31668 REGR: Fixed handling of Categorical in cython ops
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/aggregate/test_aggregate.py
Labels: Categorical, Groupby, Regression

#31674 CLN: assorted cleanups in indexes/
  pandas/core/indexes/base.py
  pandas/core/indexes/category.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/period.py
  pandas/core/indexes/timedeltas.py
Labels: Clean

#31675 CLN: Remove CategoricalAccessor._deprecations
  pandas/core/arrays/categorical.py
Labels: Categorical, Deprecate

#31673 CLN: misc tslibs, annotations, unused imports
  pandas/_libs/tslibs/resolution.pyx
  pandas/_libs/tslibs/timedeltas.pyx
  pandas/_libs/tslibs/timestamps.pyx
Labels: Clean

#31676 REF: make _convert_scalar_indexer require a scalar
  pandas/core/indexes/datetimelike.py
  pandas/core/indexing.py
Labels: Indexing, Refactor

#31662 CLN: MultiIndex.get_value is a hive of scum and villainy
  pandas/core/indexes/multi.py
  pandas/tests/indexing/multiindex/test_getitem.py
Labels: Clean, Indexing, MultiIndex

#31660 Replaced .format with f- strings
  pandas/tests/tseries/frequencies/test_to_offset.py
  pandas/util/_print_versions.py
Labels: Clean, Style

#31659 check first and last points' labels are correct
  pandas/tests/plotting/test_datetimelike.py
Labels: Testing, Visualization

#31652 BUG: avoid specifying default coerce_timestamps in to_parquet
  doc/source/whatsnew/v1.1.0.rst
  pandas/io/parquet.py
  pandas/tests/io/test_parquet.py
Labels: Bug, IO Parquet

#31639 CLN: Replace format with f-strings in test_repr_info
  pandas/tests/frame/test_repr_info.py
Labels: Style

#31638 REF: call _maybe_cast_indexer upfront, better exception messages
  pandas/core/indexes/base.py
  pandas/tests/indexes/multi/test_indexing.py
  pandas/tests/indexes/test_numeric.py
  pandas/tests/indexing/test_floats.py
Labels: Indexing

#31630 BUG: Series.xs boxing datetime64 incorrectly
  doc/source/whatsnew/v1.1.0.rst
  pandas/core/generic.py
  pandas/core/internals/managers.py
  pandas/tests/series/indexing/test_xs.py
Labels: Bug, Indexing

#31621 TST: add regression test for apply case from GH-31605
  pandas/tests/groupby/test_apply.py
Labels: Reshaping, Testing

#31599 CLN: _convert_list_indexer only called by Loc
  pandas/core/indexes/base.py
  pandas/core/indexes/category.py
  pandas/core/indexes/interval.py
  pandas/core/indexes/multi.py
  pandas/core/indexing.py
Labels: Clean, Indexing

#31597 REF: implement tests/indexes/objects/
  pandas/tests/indexes/base_class/__init__.py
  pandas/tests/indexes/base_class/test_constructors.py
  pandas/tests/indexes/base_class/test_setops.py
  pandas/tests/indexes/test_base.py
Labels: Refactor, Testing

#31592 REF: parametrize indexing tests
  pandas/tests/indexing/test_floats.py
  pandas/tests/indexing/test_iloc.py
  pandas/tests/indexing/test_indexing.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/indexing/test_scalar.py
Labels: Refactor, Testing

#31519 REF: simplify DTI._parse_string_to_bounds
  pandas/core/indexes/datetimes.py
Labels: Indexing, Period

#31655 REF: call _convert_scalar_indexer upfront in Series.__getitem__
  pandas/core/series.py
Labels: Clean, Indexing

#31672 REF: move convert_scalar out of cython
  pandas/_libs/index.pyx
  pandas/core/dtypes/cast.py
  pandas/core/frame.py
  pandas/core/indexes/base.py
  pandas/core/internals/blocks.py
  pandas/core/series.py
Labels: Dtypes

#31678 Backport PR #31668 on branch 1.0.x (REGR: Fixed handling of Categorical in cython ops)
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/aggregate/test_aggregate.py
Labels: Categorical, Groupby

#31614 REGR: fix non-reduction apply with tz-aware objects
  doc/source/whatsnew/v1.0.1.rst
  pandas/_libs/reduction.pyx
  pandas/tests/frame/test_apply.py
Labels: Apply, Regression

#31686 DOC: fixup v1.0.1 whatsnew entries
  doc/source/whatsnew/v1.0.1.rst
Labels: Docs

#31596 BUG: read_csv used in file like object RawIOBase is not recognize encoding option
  doc/source/whatsnew/v1.0.1.rst
  pandas/_libs/parsers.pyx
  pandas/io/common.py
  pandas/io/parsers.py
  pandas/tests/io/parser/test_encoding.py
Labels: Compat, IO CSV

#31699 DOC: Update 1.0.1 release notes
  doc/source/whatsnew/v1.0.1.rst
  doc/sphinxext/announce.py
  doc/sphinxext/contributors.py
Labels: Docs

#31616 REGR: Fixed AssertionError in groupby
  doc/source/whatsnew/v1.0.1.rst
  pandas/core/groupby/generic.py
  pandas/tests/groupby/aggregate/test_aggregate.py
Labels: Groupby, Regression

#31700 TYP: remove type:ignore from pandas/io/common.py
  pandas/io/common.py
Labels: Typing

#30891 WEB: Link from the website to the docs
  web/pandas/config.yml
Labels: Web

#31704 DOC: fix contributors listing for v1.0.1
  doc/source/whatsnew/v1.0.1.rst
Labels: Docs

#31714 DOC: Fix whatsnew in 1.0.x
  doc/source/index.rst.template
Labels: Docs

#31066 DOC: add plotting backends in visualization.rst
  doc/source/user_guide/visualization.rst
Labels: Docs

#31718 fix type errors in pandas/tests/extension/json/array.py
  pandas/tests/extension/json/array.py
  setup.cfg
Labels: Typing

#31712 DOC Adds newline to dataframe melt
  pandas/core/frame.py
Labels: Docs

#31723 DOC: Add 1.0.2 whatsnew
  doc/source/whatsnew/index.rst
  doc/source/whatsnew/v1.0.2.rst
Labels: Docs

#31727 TST/CLN: dtype test_construct_from_string
  pandas/tests/dtypes/test_dtypes.py
Labels: Clean, Testing

#31745 CI: Update travis-37.yaml Conda channel
  ci/deps/travis-37.yaml
Labels: CI

#31721 CLN: inconsistent kwarg name
  pandas/core/indexing.py
Labels: Clean

#31729 BUG: Fix to_excel writers handling of cols
  doc/source/whatsnew/v1.0.2.rst
  pandas/io/formats/excel.py
  pandas/tests/io/excel/test_writers.py
Labels: IO Excel, Regression

#31749 Backport PR #31745 on branch 1.0.x (CI: Update travis-37.yaml Conda channel )
  ci/deps/travis-37.yaml
Labels: CI

#31625 CLN: inline indexing 1-liners
  pandas/core/generic.py
  pandas/core/indexing.py
  pandas/core/series.py
Labels: Clean, Indexing

#31753 CLN/TST: organize DatetimeIndex tests
  pandas/tests/indexes/datetimes/test_constructors.py
  pandas/tests/indexes/datetimes/test_indexing.py
  pandas/tests/indexes/datetimes/test_misc.py
Labels: Testing

#31713 REF: Index.get_value call self.get_loc instead of self._engine.get_loc
  pandas/core/indexes/base.py
  pandas/core/indexes/extension.py
  pandas/core/indexes/interval.py
  pandas/core/indexes/numeric.py
Labels: Indexing

#31724 API/BUG: make .at raise same exceptions as .loc
  doc/source/whatsnew/v1.1.0.rst
  pandas/core/indexing.py
  pandas/tests/indexing/test_scalar.py
Labels: Indexing

#31681 REF: Use _maybe_cast_indexer and dont override Categorical.get_loc
  pandas/core/indexes/category.py
  pandas/tests/indexes/categorical/test_indexing.py
Labels: Indexing

#31715 REF: organize MultiIndex indexing tests
  pandas/tests/indexes/common.py
  pandas/tests/indexes/multi/conftest.py
  pandas/tests/indexes/multi/test_analytics.py
  pandas/tests/indexes/multi/test_compat.py
  pandas/tests/indexes/multi/test_sorting.py
  pandas/tests/indexes/multi/test_take.py
Labels: Testing

#31680 CLN: remove libindex.get_value_at
  pandas/_libs/index.pyx
  pandas/_libs/util.pxd
  pandas/core/arrays/sparse/array.py
  pandas/core/common.py
  pandas/tests/indexes/multi/test_get_set.py
Labels: Clean, Indexing

#31764 Backport PR #31729 on branch 1.0.x (BUG: Fix to_excel writers handling of cols)
  doc/source/whatsnew/v1.0.2.rst
  pandas/io/formats/excel.py
  pandas/tests/io/excel/test_writers.py
Labels: IO Excel

#31709 CLN: _convert_scalar_indexer only handle "loc" and "getitem"
  pandas/core/indexes/base.py
  pandas/core/indexes/category.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/interval.py
  pandas/core/indexes/numeric.py
  pandas/core/indexing.py
Labels: Indexing

#31733 Add --quiet option to isort command
  ci/code_checks.sh
Labels: CI

#31130 TST: Implement external error raised helper function.
  pandas/_testing.py
  pandas/tests/util/test_util.py
Labels: Enhancement, Testing

#31791 CI: fix feather test
  pandas/tests/io/test_common.py
Labels: CI

#31589 REF: Move Loc-only methods to Loc
  pandas/core/indexing.py
Labels: Clean, Indexing

#31748 BUG: Fixed encoding of pd.NA with to_json
  doc/source/whatsnew/v1.0.2.rst
  pandas/_libs/src/ujson/python/objToJSON.c
  pandas/tests/io/json/test_pandas.py
Labels: IO JSON, Missing-data

#31769 ERR: improve error message for invalid indexer
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimelike.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/indexing/test_categorical.py
  pandas/tests/indexing/test_floats.py
  pandas/tests/indexing/test_scalar.py
  pandas/tests/series/indexing/test_numeric.py
Labels: Error Reporting, Indexing

#31765 REF: Remove CategoricalIndex.get_value
  pandas/core/indexes/category.py
  pandas/core/series.py
  pandas/tests/series/indexing/test_indexing.py
Labels: Categorical, Clean, Indexing

#31812 CLN: tests.indexing.common
  pandas/tests/indexing/common.py
  pandas/tests/indexing/test_iloc.py
  pandas/tests/indexing/test_loc.py
Labels: Indexing, Testing

#31315 REF: tighten what we accept in TimedeltaIndex._simple_new
  pandas/core/arrays/timedeltas.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/timedeltas.py
  pandas/core/resample.py
  pandas/tests/resample/test_base.py
Labels: Constructors, Timedelta

#31755 CLN: misplaced TimedeltaIndex tests
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/indexes/timedeltas/test_constructors.py
  pandas/tests/indexes/timedeltas/test_ops.py
  pandas/tests/indexes/timedeltas/test_timedelta.py
  pandas/tests/indexes/timedeltas/test_timedelta_range.py
  pandas/tests/indexes/timedeltas/test_tools.py
  pandas/tests/series/indexing/test_indexing.py
Labels: Testing, Timedelta

#31767 TST: parametrize some indexing tests
  pandas/tests/indexing/test_floats.py
  pandas/tests/indexing/test_scalar.py
Labels: Indexing, Testing

#31813 BUG: iloc setitem with 3d indexer not raising
  pandas/core/internals/blocks.py
  pandas/io/stata.py
  pandas/tests/indexing/test_indexing.py
Labels: Indexing

#31816 BUG: Series[dim3array] failing to raise ValueError for some Index subclasses
  pandas/core/series.py
  pandas/tests/indexing/test_indexing.py
Labels: Indexing

#31335 REF: share code for set-like ops in DTI/TDI/PI
  pandas/core/arrays/datetimelike.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/period.py
  pandas/tests/arrays/test_datetimelike.py
Labels: ExtensionArray, Refactor

#31766 REF: share _partial_date_slice between PeriodIndex/DatetimeIndex
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/period.py
Labels: Clean, Timeseries

#31736 REF: turn _try_mi into MultiIndex._get_values_for_loc
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
Labels: Indexing, MultiIndex, Refactor

#31758 REF/TST: misplaced tests in tests.indexes.period
  pandas/tests/indexes/datetimes/test_astype.py
  pandas/tests/indexes/datetimes/test_to_period.py
  pandas/tests/indexes/period/test_asfreq.py
  pandas/tests/indexes/period/test_astype.py
  pandas/tests/indexes/period/test_constructors.py
  pandas/tests/indexes/period/test_indexing.py
  pandas/tests/indexes/period/test_ops.py
  pandas/tests/indexes/period/test_period.py
  pandas/tests/indexes/period/test_scalar_compat.py
  pandas/tests/indexes/period/test_setops.py
  pandas/tests/indexes/period/test_shift.py
  pandas/tests/indexes/period/test_tools.py
  pandas/tests/scalar/period/test_period.py
  pandas/tests/scalar/timestamp/test_rendering.py
  pandas/tests/series/methods/test_asfreq.py
  pandas/tests/series/methods/test_combine_first.py
  pandas/tests/series/methods/test_to_timestamp.py
Labels: Period, Testing

#31786 REF: remove iloc case from _convert_slice_indexer
  pandas/core/indexes/base.py
  pandas/core/indexes/numeric.py
  pandas/core/indexing.py
  pandas/core/series.py
Labels: Indexing

#31333 DEPR: indexing Series with single-entry list
  doc/source/whatsnew/v1.1.0.rst
  pandas/core/series.py
  pandas/tests/series/indexing/test_datetime.py
  pandas/tests/series/indexing/test_indexing.py
Labels: Deprecate, Indexing

#31822 DOC: Fix style guide typos
  doc/source/development/code_style.rst
Labels: Docs

#31788 BUG: Too aggressive typing in NDFrame.align
  doc/source/whatsnew/v1.0.2.rst
  pandas/core/generic.py
  pandas/tests/series/indexing/test_alter_index.py
Labels: Regression

#31820 correct redirections in doc/redirect.csv for rolling
  doc/redirects.csv
Labels: Docs

#31641 DOC: Removed numeric_only parameter from pd.DataFrame.mad docs
  pandas/core/generic.py
Labels: Docs

#31818 DOC: '10 minutes to pandas' - <TAB> completion section now show a con…
  doc/source/getting_started/10min.rst
Labels: Docs

#31669 CLN: remove kwargs from signature of (Index|MultiIndex).copy
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
Labels: Clean, Index

#31814 REF: use public indexers in groupby.ops
  pandas/_libs/reduction.pyx
  pandas/core/groupby/ops.py
  pandas/tests/groupby/test_bin_groupby.py
Labels: Groupby, Refactor

#31730 fixed mypy errors in mypy-pandas.tests.extension.decimal.test_decimal
  pandas/tests/extension/base/base.py
  pandas/tests/extension/decimal/test_decimal.py
  setup.cfg
Labels: ExtensionArray, Testing, Typing

#31824 Test messages test period
  pandas/tests/arithmetic/test_period.py
Labels: Period, Testing

#31825 Backport PR #31788 on branch 1.0.x (BUG: Too aggressive typing in NDFrame.align)
  doc/source/whatsnew/v1.0.2.rst
  pandas/core/generic.py
  pandas/tests/series/indexing/test_alter_index.py
Labels: Typing

#31826 Backport PR #31820 on branch 1.0.x (correct redirections in doc/redirect.csv for rolling)
  doc/redirects.csv
Labels: Docs

#31598 REF: simplify PeriodIndex.get_loc
  pandas/_libs/index.pyx
  pandas/core/indexes/period.py
Labels: Indexing, Period
