Repository pandas-dev/pandas, pull requests merged in 2021-09, with the labels that each got.

#43333 PERF: read_sas
  pandas/io/sas/sas7bdat.py
  pandas/tests/io/sas/test_sas7bdat.py
Labels: Performance, IO SAS

#43221 REF: share Index.putmask with ExtensionIndex
  pandas/core/indexes/base.py
  pandas/core/indexes/extension.py
Labels: ExtensionArray

#43177 ENH: `styler.render.encoding` option
  doc/source/user_guide/options.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/config_init.py
  pandas/io/formats/style.py
  pandas/tests/io/formats/style/test_html.py
Labels: Styler

#42889 CI: Revive Banklist Tests
  doc/source/user_guide/io.rst
  pandas/tests/io/test_html.py
Labels: Testing, IO HTML

#43283 ENH: `styler.html.mathjax` option
  doc/source/user_guide/options.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/config_init.py
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_style.py
Labels: Enhancement, IO HTML, Styler

#43149 ENH: `Styler.to_html` gets `bold_headers` and `caption` kwarg
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/formats/style.py
  pandas/tests/io/formats/style/test_html.py
Labels: Styler

#43343 BUG: styler initialise precision=0
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_format.py
Labels: Styler

#43346 ENH: kw `names` to `Styler.hide_index`
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_style.py
Labels: IO HTML, Styler

#43349 CI: Fix Failing Doc Build
  doc/source/whatsnew/v1.3.3.rst
Labels: Docs, CI

#43347 Backport PR #43145 on branch 1.3.x (REGR: Fix fastparquet 0.7.0 not being able to read a parquet file)
  doc/source/whatsnew/v1.3.3.rst
  pandas/io/parquet.py
Labels: Bug, Regression, IO Parquet

#43350 Backport PR #43349 on branch 1.3.x (CI: Fix Failing Doc Build)
  doc/source/whatsnew/v1.3.3.rst
Labels: Docs, CI, Still Needs Manual Backport

#43353 PERF: rebuild_blknos_and_blklocs
  pandas/_libs/internals.pyi
  pandas/_libs/internals.pyx
  pandas/core/internals/managers.py
Labels: Performance

#43352 PERF: unstack 2 the unstackening
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
Labels: Performance, Reshaping

#43229 CLN: remove _index_data
  pandas/_libs/reduction.pyx
  pandas/core/indexes/base.py
  pandas/core/indexes/extension.py
  pandas/tests/arithmetic/test_object.py
Labels: Clean

#43217 REF: avoid need for get_join_target in join_non_unique
  pandas/core/indexes/base.py
Labels: Refactor, Reshaping

#43354 PERF: concat
  pandas/core/internals/concat.py
Labels: Performance, Reshaping

#43335 PERF: unstack
  pandas/core/internals/blocks.py
  pandas/core/reshape/reshape.py
Labels: Performance, Reshaping

#43365 TYP: tslibs
  pandas/_libs/tslibs/conversion.pyi
  pandas/_libs/tslibs/fields.pyi
  pandas/_libs/tslibs/parsing.pyi
  pandas/_libs/tslibs/period.pyi
  pandas/_libs/tslibs/strptime.pyi
  pandas/_libs/tslibs/timedeltas.pyi
  pandas/_libs/tslibs/timezones.pyi
  pandas/_libs/tslibs/tzconversion.pyi
  pandas/_libs/tslibs/vectorized.pyi
  pandas/core/arrays/datetimes.py
Labels: Typing

#43360 CLN: Replace sphinx's rpartition with python's in-built one
  doc/source/conf.py
Labels: Docs

#43316 PERF: DataFrame[object].fillna
  pandas/core/internals/blocks.py
Labels: Missing-data, Performance

#43312 BUG: Fix some parse dates tests for the Arrow CSV reader
  pandas/io/parsers/base_parser.py
  pandas/tests/io/parser/test_parse_dates.py
Labels: Arrow CSV

#43377 correcting example in comparison with spreadsheets
  doc/source/getting_started/comparison/includes/nth_word.rst
Labels: Docs

#43379 Auto-update now occurs monthly instead of weekly
  .github/workflows/autoupdate-pre-commit-config.yml
Labels: CI

#43152 BUG: Outer/right merge with EA dtypes cast to object
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/reshape/merge.py
  pandas/tests/reshape/merge/test_merge.py
Labels: Bug, Reshaping, ExtensionArray

#43399 BUG: no `label` render in `Styler.to_latex` if `caption` and `"longtable"`
  pandas/io/formats/templates/latex_longtable.tpl
  pandas/tests/io/formats/style/test_to_latex.py
Labels: IO LaTeX, Styler

#43397 REF: `styler.to_latex` siunitx changes: render {} only when needed.
  pandas/io/formats/style.py
  pandas/io/formats/templates/latex_longtable.tpl
  pandas/io/formats/templates/latex_table.tpl
  pandas/tests/io/formats/style/test_non_unique.py
  pandas/tests/io/formats/style/test_to_latex.py
Labels: IO LaTeX, Styler

#42911 CI: Add ASV Bot
  .github/workflows/asv-bot.yml
Labels: Benchmark

#43372 CLN: Minor cleanup of deprecations in parser code
  pandas/io/parsers/base_parser.py
  pandas/io/parsers/readers.py
Labels: IO CSV, Clean

#36482 Complex Dtype Support for Hashmap Algos
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/algos.pyi
  pandas/_libs/algos.pyx
  pandas/_libs/algos_common_helper.pxi.in
  pandas/core/dtypes/common.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/indexes/multi/test_duplicates.py
  pandas/tests/indexes/period/methods/test_factorize.py
  pandas/tests/reductions/test_reductions.py
  pandas/tests/series/methods/test_isin.py
  pandas/tests/series/methods/test_value_counts.py
  pandas/tests/test_algos.py
Labels: Complex

#43253 BUG: fix is_named_tuple for objects that are not subclass of tuple #40682
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/dtypes/inference.py
  pandas/tests/io/test_sql.py
Labels: Bug, IO SQL

#43385 BUG: one level multiindex styler display
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_format.py
Labels: MultiIndex, Styler

#43392 BUG: dtype lost in DataFrame.append
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/frame.py
  pandas/tests/reshape/concat/test_append.py
Labels: Dtype Conversions

#43373 BUG: Fix regression in is_list_like
  doc/source/whatsnew/v1.3.3.rst
  pandas/_libs/lib.pyx
  pandas/tests/dtypes/test_inference.py
Labels: Compat

#43389 Backport PR #43152 on branch 1.3.x (BUG: Outer/right merge with EA dtypes cast to object)
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/reshape/merge.py
  pandas/tests/reshape/merge/test_merge.py
Labels: Bug, Reshaping, ExtensionArray

#43150 BUG: GroupBy.quantile fails with pd.NA
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_quantile.py
Labels: Groupby, Missing-data

#43188 BUG: pickle Index[object] preserve dtype
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/base_class/test_pickle.py
Labels: Bug, IO Pickle

#43404 BUG?: `hide_columns` now doesn't hide index names
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_style.py
Labels: Styler

#42567 BUG: Groupby min/max with nullable dtypes
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/groupby.pyi
  pandas/_libs/groupby.pyx
  pandas/core/arrays/masked.py
  pandas/core/groupby/ops.py
  pandas/tests/groupby/test_min_max.py
Labels: Bug, Groupby, NA - MaskedArrays

#43368 CLN: add arg validation for `caption`
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/formats/style.py
  pandas/tests/io/formats/style/test_style.py
Labels: Styler

#43265 DEPR: Passing in a string column label for DataFrame.ewm(times=...)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/window/ewm.py
  pandas/tests/window/test_ewm.py
Labels: Deprecate, Window

#42925 PERF: Sparse Series to scipy COO sparse matrix
  asv_bench/benchmarks/sparse.py
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/sparse/accessor.py
  pandas/core/arrays/sparse/scipy_sparse.py
  pandas/tests/arrays/sparse/test_array.py
Labels: Performance, Sparse

#43370 PERF: MultiIndex.get_indexer
  pandas/_libs/index.pyx
  pandas/core/indexes/base.py
Labels: Indexing, Performance, MultiIndex

#43407 Backport PR #43373 on branch 1.3.x (BUG: Fix regression in is_list_like)
  doc/source/whatsnew/v1.3.3.rst
  pandas/_libs/lib.pyx
  pandas/tests/dtypes/test_inference.py
Labels: Compat

#43226 Resolving Index Resetting for tz_localize
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/indexes/accessors.py
  pandas/tests/series/accessors/test_dt_accessor.py
  pandas/tests/series/methods/test_tz_localize.py
Labels: Timezones, Categorical

#43118 BUG: Throw a ParserError when header rows have unequal column counts …
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/parsers/base_parser.py
  pandas/tests/io/parser/test_header.py
Labels: Error Reporting, IO CSV

#43411 ADMIN: Add GitHub Issue Forms for Bugs, Performance, or Installation issues
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/installation_issue.yaml
  .github/ISSUE_TEMPLATE/performance_issue.yaml
Labels: Admin

#42772 BUG: Series.groupby fails with InvalidIndexError on time series with …
  doc/source/whatsnew/v1.3.2.rst
  pandas/core/groupby/grouper.py
  pandas/tests/groupby/test_grouping.py
Labels: Bug, Groupby, Indexing, Regression

#43236 BUG: groupby.apply incorrectly dropping nan
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_apply.py
Labels: Groupby, Regression

#43374 BUG: rolling.groupby with on and __getitem__ doesn't mutate underlying object
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/window/rolling.py
  pandas/tests/window/test_groupby.py
Labels: Groupby, Window

#43421 REF: MultiIndex._engine followup to #43370
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/index.pyi
  pandas/_libs/index.pyx
  pandas/core/indexes/base.py
Labels: Performance, MultiIndex

#43341 BUG: styler.format options and validator tests
  pandas/core/config_init.py
  pandas/tests/io/formats/style/test_format.py
Labels: Styler

#41513 TYP: ExtensionArray delete() and searchsorted()
  pandas/_typing.py
  pandas/core/algorithms.py
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/base.py
  pandas/core/arrays/period.py
  pandas/core/arrays/sparse/array.py
  pandas/core/base.py
  pandas/core/computation/pytables.py
  pandas/core/generic.py
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/extension.py
  pandas/core/series.py
Labels: ExtensionArray, Typing

#43425 Backport PR #42772 on branch 1.3.x (BUG: Series.groupby fails with InvalidIndexError on time series with …)
  doc/source/whatsnew/v1.3.2.rst
  pandas/core/groupby/grouper.py
  pandas/tests/groupby/test_grouping.py
Labels: Bug, Groupby, Indexing, Regression

#43403 Revert Cythonized Kendall implementation and improve test case to prevent regressions
  doc/source/whatsnew/v1.3.3.rst
  pandas/_libs/algos.pyx
  pandas/core/frame.py
  pandas/tests/frame/methods/test_cov_corr.py
Labels: Regression, Algos

#43426 BACKPORT: groupby.apply incorrectly dropping nan #43236
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_apply.py
Labels: Groupby, Missing-data

#43328 add Series.str.remove(pre|suf)fix
  doc/source/reference/series.rst
  doc/source/user_guide/text.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/strings/accessor.py
  pandas/core/strings/base.py
  pandas/core/strings/object_array.py
  pandas/tests/strings/conftest.py
  pandas/tests/strings/test_strings.py
Labels: Enhancement, Strings, Python 3.9

#41251 TYP: Typing changes for ExtensionArray.astype
  pandas/_typing.py
  pandas/core/arrays/base.py
  pandas/core/arrays/boolean.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/floating.py
  pandas/core/arrays/integer.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/period.py
  pandas/core/arrays/sparse/array.py
  pandas/core/common.py
  pandas/core/dtypes/dtypes.py
  pandas/core/internals/blocks.py
Labels: ExtensionArray, Typing

#43410 REGR: Resampler.aggregate fails when used with column selection
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/resample.py
  pandas/tests/resample/test_resampler_grouper.py
Labels: Bug, Regression, Resample

#43358 TST: added test for groupby when calling first, last, nth (GH29645)
  pandas/tests/groupby/test_nth.py
Labels: Testing, Groupby

#43431 Backport PR #43403: Revert Cythonized Kendall implementation and improve test case to prevent regressions
  doc/source/whatsnew/v1.3.3.rst
  pandas/_libs/algos.pyx
  pandas/core/frame.py
  pandas/tests/frame/methods/test_cov_corr.py
Labels: Regression, Algos

#43261 BUG: rolling.corr with MultiIndex columns
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/window/common.py
  pandas/tests/window/test_pairwise.py
Labels: MultiIndex, Window

#43369 ENH: `multirow` naive implementation `Styler.to_latex` part1
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/config_init.py
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_to_latex.py
Labels: IO LaTeX, Styler

#43444 Backport PR #43410 on branch 1.3.x (REGR: Resampler.aggregate fails when used with column selection)
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/resample.py
  pandas/tests/resample/test_resampler_grouper.py
Labels: Bug, Regression, Resample

#43433 TST: Test for MultiIndex merge with CategoricalIndex (#36973)
  pandas/tests/reshape/merge/test_merge.py
Labels: Testing, Reshaping, MultiIndex, Categorical

#43450 Regression in loc setitem raising ValueError when setting array as cell value
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/dtypes/cast.py
  pandas/tests/frame/indexing/test_indexing.py
Labels: Indexing, Regression

#43409 BUG: concat of bool and boolean giving object dtype
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/boolean.py
  pandas/tests/reshape/concat/test_concat.py
Labels: Bug, Reshaping, Dtype Conversions, NA - MaskedArrays

#43453 Backport PR #43450 on branch 1.3.x (Regression in loc setitem raising ValueError when setting array as cell value)
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/dtypes/cast.py
  pandas/tests/frame/indexing/test_indexing.py
Labels: Indexing, Regression

#43446 REF: share _wrap_aggregated_output
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Labels: Refactor, Groupby

#43060 BUG: nlargest/nsmallest can now consider nan values like sort_values(ascending=True).head(n)
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/algorithms.py
  pandas/tests/frame/methods/test_nlargest.py
  pandas/tests/groupby/test_apply.py
  pandas/tests/series/methods/test_nlargest.py
Labels: Numeric Operations

#43187 TST: Test renaming a multiindex with duplicates (GH 38015)
  pandas/tests/indexing/multiindex/test_multiindex.py
Labels: Testing, MultiIndex

#42960 DOC: erroneous initialization of a DataFrame with Series objects #42818
  pandas/core/frame.py
Labels: Docs, Constructors

#43382 ENH: `multicol` naive implementation. part2
  pandas/core/config_init.py
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_to_latex.py
Labels: Styler

#43376 REF: reindex_indexer use np.void to avoid JoinUnit
  pandas/core/internals/concat.py
  pandas/core/internals/managers.py
Labels: Refactor, Internals

#43465 BUG: `styler.hide_columns` fails when no sparsification
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_style.py
Labels: Styler

#43466 REF: de-duplicate result index construction in groupby
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Labels: Refactor, Groupby

#43384 REF: reindex_indexer up-front to simplify JoinUnit
  pandas/core/internals/concat.py
Labels: Refactor, Internals

#41258 TYP: Typing for ExtensionArray.__getitem__
  pandas/_typing.py
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/base.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/interval.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/period.py
  pandas/core/arrays/sparse/array.py
  pandas/core/arrays/string_arrow.py
  pandas/core/groupby/groupby.py
  pandas/core/indexes/base.py
  pandas/core/indexes/extension.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/concat.py
  pandas/core/internals/ops.py
Labels: ExtensionArray, Typing

#43441 DOC: add links to pre-commit in contributing
  .github/PULL_REQUEST_TEMPLATE.md
  doc/source/development/contributing.rst
  doc/source/development/contributing_environment.rst
Labels: Docs

#43207 DOC: ecosystem pandas-stubs information
  doc/source/ecosystem.rst
  web/pandas/community/ecosystem.md
Labels: Docs

#42972 ENH: `max_rows` `max_cols` kw for `Styler.to_html` + `styler.options`
  doc/source/user_guide/options.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/config_init.py
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_html.py
  pandas/tests/io/formats/style/test_style.py
  pandas/tests/io/formats/test_format.py
  pandas/tests/series/test_repr.py
Labels: Enhancement, Output-Formatting, IO HTML, Styler

#43455 REGR: fillna on f32 column raising for f64
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/array_algos/putmask.py
  pandas/tests/series/methods/test_fillna.py
Labels: Indexing, Missing-data, Dtype Conversions, Regression

#43470 BUG: `Styler` hidden elements sparse none
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_style.py
Labels: Styler

#43449 REF: share _wrap_transformed_output
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Labels: Refactor, Groupby

#43430 TYP: libs
  pandas/_libs/join.pyi
  pandas/_libs/lib.pyi
  pandas/_libs/ops.pyi
  pandas/_libs/parsers.pyi
  pandas/_libs/reshape.pyi
  pandas/_libs/tslib.pyi
  pandas/_libs/window/indexers.pyi
Labels: Typing

#43428 Regression in __getitem__ raising for slice DatetimeIndex
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/frame.py
  pandas/tests/frame/indexing/test_getitem.py
Labels: Timeseries, Indexing, Regression

#43474 Backport PR #43455 on branch 1.3.x (REGR: fillna on f32 column raising for f64)
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/array_algos/putmask.py
  pandas/tests/series/methods/test_fillna.py
Labels: Indexing, Missing-data, Dtype Conversions, Regression

#43475 Backport PR #43428 on branch 1.3.x (Regression in __getitem__ raising for slice DatetimeIndex)
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/frame.py
  pandas/tests/frame/indexing/test_getitem.py
Labels: Timeseries, Indexing, Regression

#43154 Updating _resolve_numeric_only function of GroupBy
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/aggregate/test_cython.py
  pandas/tests/groupby/test_groupby.py
Labels: Groupby, Nuisance Columns

#43481 Backport PR #43154 on branch 1.3.x (Updating _resolve_numeric_only function of GroupBy)
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/aggregate/test_cython.py
  pandas/tests/groupby/test_groupby.py
Labels: Groupby, Nuisance Columns

#43417 Backport PR #43150 on branch 1.3.x (BUG: GroupBy.quantile fails with pd.NA)
  doc/source/whatsnew/v1.3.3.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_quantile.py
Labels: Groupby, NA - MaskedArrays

#43479 REF: dont pass keys through wrap_applied_output
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
Labels: Refactor, Groupby

#43469 PERF: groupby.quantile
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/groupby.pyi
  pandas/_libs/groupby.pyx
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_quantile.py
Labels: Performance, Algos

#43447 REGR: SpooledTemporaryFile support in read_csv
  doc/source/whatsnew/v1.3.3.rst
  pandas/io/common.py
  pandas/tests/io/parser/test_encoding.py
Labels: IO CSV, Compat

#43484 REF: always use grouper=self.grouper in resample
  pandas/core/resample.py
Labels: Refactor, Resample

#41042 ENH: option to export df to Stata dataset with value labels
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/frame.py
  pandas/io/stata.py
  pandas/tests/io/test_stata.py
Labels: Enhancement, IO Stata

#43488 Backport PR #43447 on branch 1.3.x (REGR: SpooledTemporaryFile support in read_csv)
  doc/source/whatsnew/v1.3.3.rst
  pandas/io/common.py
  pandas/tests/io/parser/test_encoding.py
Labels: IO CSV, Compat

#43468 CI: split Windows Azure tests in half
  .github/workflows/ci.yml
  .github/workflows/posix.yml
  .github/workflows/python-dev.yml
  azure-pipelines.yml
  ci/azure/windows.yml
  ci/run_tests.sh
Labels: CI, Windows

#43427 DEPR: squeeze argument in read_csv/read_table/read_excel
  doc/source/user_guide/io.rst
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/excel/_base.py
  pandas/io/parsers/base_parser.py
  pandas/io/parsers/c_parser_wrapper.py
  pandas/io/parsers/readers.py
  pandas/tests/frame/methods/test_to_csv.py
  pandas/tests/io/excel/test_readers.py
  pandas/tests/io/parser/common/test_common_basic.py
  pandas/tests/io/parser/common/test_iterator.py
  pandas/tests/io/parser/conftest.py
  pandas/tests/io/test_compression.py
  pandas/tests/series/methods/test_to_csv.py
Labels: IO CSV, IO Excel, Deprecate

#43492 BUG: fillna not replacing missing values when duplicate colnames
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/generic.py
  pandas/tests/frame/methods/test_fillna.py
Labels: Bug, Missing-data

#43497 Backport PR #43468: CI: split Windows Azure tests in half
  .github/workflows/ci.yml
  .github/workflows/posix.yml
  .github/workflows/python-dev.yml
  azure-pipelines.yml
  ci/azure/windows.yml
  ci/run_tests.sh
Labels: CI

#43499 DOC: sync release notes
  doc/source/whatsnew/v1.3.3.rst
Labels: Docs

#43490 REF: Groupby length checks on values instead of keys
  pandas/core/groupby/generic.py
Labels: Refactor, Groupby

#43400 TYP: type some un-typed decorators
  pandas/core/indexes/multi.py
  pandas/core/nanops.py
  pandas/core/window/expanding.py
  pandas/core/window/rolling.py
  pandas/io/pytables.py
  pandas/plotting/_matplotlib/converter.py
  pandas/plotting/_matplotlib/core.py
  pandas/tests/frame/methods/test_sort_index.py
Labels: Typing

#43491 BUG: df.sparse.to_coo() raising on duplicate colnames
  asv_bench/benchmarks/sparse.py
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/sparse/accessor.py
  pandas/tests/arrays/sparse/test_accessor.py
Labels: Bug, Sparse

#43487 REF: avoid unnecessary argument to groupby numba funcs
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/numba_.py
Labels: Refactor, Groupby

#43500 BUG: GroupBy.apply with Grouper and NaT
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/groupby/generic.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_timegrouper.py
Labels: Bug, Groupby, Missing-data

#43478 REF: Groupby.pad/backfill operate blockwise
  pandas/_libs/groupby.pyi
  pandas/_libs/groupby.pyx
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_missing.py
Labels: Refactor, Groupby, Performance

#43505 REF: remove libreduction.SeriesGrouper
  pandas/_libs/reduction.pyx
  pandas/core/groupby/ops.py
  pandas/tests/groupby/test_bin_groupby.py
  pandas/tests/reshape/test_crosstab.py
Labels: Groupby, Clean

#43366 MAINT: rename IOError -> OSError
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/parsers.pyx
  pandas/_testing/_io.py
  pandas/io/common.py
  pandas/io/excel/_base.py
  pandas/io/sql.py
  pandas/tests/io/formats/test_console.py
  pandas/tests/io/parser/common/test_common_basic.py
  pandas/tests/io/parser/test_network.py
  pandas/tests/io/pytables/test_errors.py
  pandas/tests/io/pytables/test_file_handling.py
  pandas/tests/io/test_common.py
Labels: Error Reporting

#43436 ENH: Improve IOError handling on missing parent directory for Series/DataFrame write methods #24306
  doc/source/whatsnew/v1.4.0.rst
  pandas/io/common.py
  pandas/io/formats/format.py
  pandas/tests/io/test_common.py
  pandas/tests/io/xml/test_to_xml.py
Labels: IO Data, Error Reporting

#43512 TYP: use npt.DTypeLike for type annotation of dtype arg in to_numpy
  pandas/core/arrays/base.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/numpy_.py
  pandas/core/arrays/string_arrow.py
  pandas/core/base.py
Labels: Typing

#43278 PERF: column_arrays
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
Labels: Performance, IO JSON

#43508 CLN: clean lib util
  pandas/_libs/util.pxd
Labels: Clean

#43509 BUG: GroupBy.apply with timegrouper and NaT
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_timegrouper.py
Labels: Groupby, Missing-data

#43506 REF: de-duplicate operate-column-wise code, pct_change
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Labels: Groupby, Clean

#43520 DOC: 1.3.3 release date
  doc/source/whatsnew/v1.3.3.rst
Labels: Docs

#43525 CLN: remove sparse op helper unused
  pandas/_libs/sparse_op_helper.pxi.in
Labels: Sparse, Clean

#43521 Backport PR #43520 on branch 1.3.x (DOC: 1.3.3 release date)
  doc/source/whatsnew/v1.3.3.rst
Labels: Docs

#43530 DOC: Start v1.3.4 release notes
  doc/source/whatsnew/index.rst
  doc/source/whatsnew/v1.3.3.rst
  doc/source/whatsnew/v1.3.4.rst
Labels: Docs

#43517 split macos tests in 2
  ci/azure/posix.yml
  ci/azure/windows.yml
Labels: Testing, CI, OS X

#43519 REF: share GroupBy.count
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Labels: Refactor, Groupby

#43524 PERF: avoid rebuilding blknos
  pandas/_libs/internals.pyx
  pandas/core/internals/managers.py
Labels: Performance, Internals

#43514 TYP: sparse.pyi
  pandas/_libs/sparse.pyi
  pandas/core/arrays/sparse/array.py
Labels: Sparse, Typing

#43526 TST: pytest.mark.single for test_unique_bad_unicode
  pandas/tests/base/test_unique.py
Labels: CI, Unreliable Test

#43513 TYP: SparseArray
  pandas/core/arrays/sparse/array.py
  pandas/core/arrays/sparse/dtype.py
Labels: Sparse, Typing

#43523 DEPR: index argument to SparseArray
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/sparse/array.py
  pandas/tests/arrays/sparse/test_array.py
Labels: Sparse, Deprecate, Constructors

#43510 CLN/PERF: group quantile
  pandas/_libs/groupby.pyi
  pandas/_libs/groupby.pyx
  pandas/core/groupby/groupby.py
Labels: Groupby, Algos, Clean

#43518 PERF: groupby.pad/backfill follow-up
  pandas/_libs/groupby.pyi
  pandas/_libs/groupby.pyx
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
Labels: Groupby, Missing-data, Performance

#43529 DOC: fix doc to understand fillna with second dataframe
  pandas/core/generic.py
Labels: Docs, Missing-data

#43532 Backport PR #43530 on branch 1.3.x (DOC: Start v1.3.4 release notes)
  doc/source/whatsnew/index.rst
  doc/source/whatsnew/v1.3.3.rst
  doc/source/whatsnew/v1.3.4.rst
Labels: Docs

#43515 BUG: Groupby.agg with timegrouper, nat, and numba
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_timegrouper.py
Labels: Groupby, Missing-data, Resample, numba

#43432 DOC: Modify pandas.ExcelWriter default engine in docstring (#43359)
  pandas/io/excel/_base.py
Labels: Docs, IO Excel

#43533 CLN: remove _has_complex_internals
  pandas/core/groupby/generic.py
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/extension.py
  pandas/core/indexes/multi.py
Labels: Groupby, Clean

#43527 BUG/PERF: sparse min/max don't densify
  asv_bench/benchmarks/sparse.py
  doc/source/whatsnew/v1.4.0.rst
  pandas/core/arrays/sparse/array.py
  pandas/tests/arrays/sparse/test_array.py
Labels: Bug, Performance, Sparse, Reduction Operations

#42710 DOC use pepy-tech badge in README instead of conda-forge one
  README.md
Labels: Docs

#43536 TYP: SparseIndexKind
  pandas/core/arrays/sparse/array.py
Labels: Sparse, Typing

#43535 Backport PR #43517 on branch 1.3.x (split macos tests in 2)
  ci/azure/posix.yml
  ci/azure/windows.yml
Labels: CI

#42939 TST: add test for getting array from series
  pandas/tests/series/test_constructors.py
Labels: Testing, Constructors, Upstream issue

#43537 REF: `refactor_levels` for `Styler.format_index`
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
Labels: Styler

#43238 REF: avoid _get_engine_target in _get_nearest_indexer
  pandas/core/indexes/base.py
Labels: Refactor, Indexing

#43539 TYP: SparseArray methods
  pandas/core/arrays/sparse/array.py
  pandas/core/dtypes/concat.py
Labels: Sparse, Typing

#43538 REF: share _wrap_transform_fast_result
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Labels: Refactor, Groupby

#43435 REF: Groupby._get_cythonized_result operate blockwise in axis==1 case
  pandas/core/groupby/groupby.py
Labels: Missing-data, Performance

#43555 REF: Share Index comparison and arithmetic methods
  pandas/core/base.py
  pandas/core/indexes/base.py
  pandas/core/indexes/extension.py
  pandas/core/series.py
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/arithmetic/test_period.py
Labels: Refactor, ExtensionArray, Index

#43557 CLN/TST: Remove agg test from groupby
  pandas/tests/groupby/aggregate/test_aggregate.py
Labels: Testing, Clean

#42068 BUG: pd.to_datetime(infer_datetime_format=True) drops timezone
  asv_bench/benchmarks/inference.py
  doc/source/whatsnew/v1.4.0.rst
  pandas/_libs/tslibs/parsing.pyx
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/tslibs/test_parsing.py
Labels: Bug, Timezones

#43558 PERF: Series.to_frame
  asv_bench/benchmarks/series_methods.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/managers.py
  pandas/core/series.py
Labels: Performance, Series, Constructors

#43548 DOC: Update whatsnew for crosstab fix
  doc/source/whatsnew/v1.4.0.rst
Labels: Docs, Groupby, Reshaping

#43562 TST: Add test for masking timedelta (#39548)
  pandas/tests/frame/indexing/test_mask.py
Labels: Testing, Indexing, Timedelta

#43545 CI: network tests running even with "not network"
  pandas/conftest.py
Labels: Testing, CI
