Repository pandas-dev/pandas, pull requests merged in 2021-05, with the labels that each got.

#41249 CLN: remove outdated arrow compat
  pandas/core/arrays/_arrow_utils.py
Labels: Clean

#41205 DOC: Add Lux to Pandas Ecosystem page
  doc/source/ecosystem.rst
Labels: Docs

#41252 CLN: minor cleanup of bad pattern
  pandas/io/formats/style_render.py
Labels: Clean

#41270 CI: fix test for SSL warning
  pandas/_testing/_warnings.py
Labels: CI

#41262 REF: simplify libreduction
  pandas/_libs/reduction.pyx
Labels: Refactor

#41261 COMPAT: fix _bootlocale import error on py310
  pandas/tests/io/json/test_readlines.py
Labels: Compat, Python 3.10

#41256 REF: avoid unnecessary casting in algorithms
  pandas/core/algorithms.py
  pandas/core/arrays/sparse/array.py
  pandas/tests/test_algos.py
Labels: Algos, Refactor

#41250 TYP: assorted annotations
  pandas/_libs/hashtable.pyx
  pandas/_libs/indexing.pyx
  pandas/_libs/internals.pyx
  pandas/core/frame.py
  pandas/core/indexes/base.py
  pandas/core/internals/managers.py
  pandas/core/reshape/reshape.py
  pandas/core/series.py
  pandas/core/window/rolling.py
Labels: Typing

#41253 COMPAT: more error msg compat for py310
  pandas/tests/indexes/ranges/test_constructors.py
  pandas/tests/indexes/test_numeric.py
  pandas/tests/io/json/test_ujson.py
  pandas/tests/scalar/timestamp/test_constructors.py
Labels: Compat, Python 3.10

#41271 REF: simpilify _cython_agg_general
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Labels: Groupby, Refactor

#41245 REF: de-lazify Resampler init
  pandas/core/groupby/groupby.py
  pandas/core/resample.py
Labels: Refactor, Resample

#41243 REF: remove unnecessary consolidate in GroupBy.describe
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/test_function.py
Labels: Groupby, Refactor

#41268 Bug in setitem raising ValueError with row-slice indexer on df with list-like on rhs
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/indexers.py
  pandas/tests/frame/indexing/test_setitem.py
Labels: Bug, Indexing

#41186 Deprecate inplace in Categorical.rename_categories
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/arrays/categorical.py
  pandas/tests/arrays/categorical/test_analytics.py
  pandas/tests/arrays/categorical/test_api.py
Labels: Categorical, Deprecate

#41217 [ArrowStringArray] use pyarrow.compute.match_substring_regex if available
  pandas/core/arrays/string_arrow.py
Labels: Performance, Strings

#41267 ENH: Numba engine for EWM.mean
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/window/ewm.py
  pandas/core/window/numba_.py
  pandas/tests/window/test_numba.py
Labels: Enhancement, Window

#40790 BUG: groupby.agg/transform casts UDF results
  doc/source/user_guide/gotchas.rst
  doc/source/user_guide/groupby.rst
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/frame.py
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/series.py
  pandas/core/shared_docs.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/groupby/aggregate/test_cython.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_function.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/transform/test_transform.py
  pandas/tests/resample/test_datetime_index.py
  pandas/tests/resample/test_resampler_grouper.py
  pandas/tests/resample/test_timedelta.py
  pandas/tests/reshape/test_crosstab.py
  pandas/tests/reshape/test_pivot.py
Labels: Bug, Dtypes, Groupby

#41247 CLN: standardize naming in core.groupby
  pandas/core/groupby/categorical.py
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/numba_.py
  pandas/core/groupby/ops.py
Labels: Clean, Groupby

#41260 TYP: ExtensionArray unique and repeat
  pandas/core/arrays/base.py
  pandas/core/arrays/interval.py
  pandas/core/base.py
Labels: ExtensionArray, Typing

#41195 TST: refactored tests to use parametrize instead of "for" loop
  pandas/tests/generic/test_series.py
Labels: Testing

#41279 CI: Fix warning from SSL transport (again)
  pandas/_testing/_warnings.py
Labels: CI

#41280 CI: Added unselected directories to doctest CI
  ci/code_checks.sh
Labels: CI

#41278 TST: fix casting extension tests for external users
  pandas/tests/extension/base/casting.py
Labels: Strings, Testing

#41236 Optimising Series.nunique for Nan values #40865
  asv_bench/benchmarks/frame_methods.py
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/base.py
Labels: Algos

#41265 REF: avoid unnecessary raise in DataFrameGroupBy._cython_agg_general
  pandas/core/apply.py
  pandas/core/groupby/generic.py
Labels: Groupby, Nuisance Columns

#41274 REF: clearer names in libreduction
  pandas/_libs/reduction.pyx
Labels: Clean, Reductions

#40556 ENH: Pluggable SQL performance via new SQL `engine` keyword
  doc/source/user_guide/options.rst
  pandas/core/config_init.py
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
Labels: IO SQL

#41302 ASV: add benchmarks to test formatting func in Styler.
  asv_bench/benchmarks/io/style.py
Labels: Benchmark

#41296 CLN: remove unused filter_empty from BinGrouper
  pandas/core/groupby/ops.py
Labels: Clean, Groupby

#41286 DOC: Fix docs in pandas/io/excel/*
  ci/code_checks.sh
  pandas/io/excel/_base.py
Labels: Docs, IO Excel

#41273 REF: consolidate casting in groupby agg_series
  pandas/_libs/reduction.pyx
  pandas/core/groupby/ops.py
  pandas/core/series.py
  pandas/tests/groupby/test_bin_groupby.py
Labels: Groupby, Refactor

#41275 Allow to union `MultiIndex` with empty `RangeIndex`
  pandas/core/indexes/base.py
  pandas/core/indexes/multi.py
  pandas/tests/indexes/multi/test_setops.py
  pandas/tests/reshape/concat/test_concat.py
Labels: Bug, Reshaping

#41285 TYP: core.sorting
  pandas/core/frame.py
  pandas/core/indexes/multi.py
  pandas/core/reshape/reshape.py
  pandas/core/sorting.py
Labels: Typing

#41254 CLN: Move stuff in tests.indexes.test_numeric.py to more logical locations
  pandas/tests/indexes/common.py
  pandas/tests/indexes/numeric/test_numeric.py
  pandas/tests/indexes/ranges/test_range.py
Labels: Clean, Index, Testing

#41300 CLN: more descriptive names, annotations in groupby
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/grouper.py
  pandas/core/groupby/ops.py
Labels: Clean, Groupby

#41294 REF: support object dtype in libgroupby.group_add
  pandas/_libs/groupby.pyx
Labels: Groupby

#41292 BUG: fix suppressed TypeErrors in Groupby.mean, median, var
  pandas/core/groupby/groupby.py
Labels: Groupby

#41248 [ArrowStringArray] PERF: use pyarrow.compute.utf8_length if available
  pandas/core/arrays/string_arrow.py
  pandas/tests/strings/test_strings.py
Labels: Performance, Strings

#41293 [ArrowStringArray] REF: pre-cursor to adding replace str accessor method
  pandas/core/strings/accessor.py
  pandas/core/strings/object_array.py
  pandas/tests/strings/test_find_replace.py
Labels: Refactor, Strings

#41289 REF: Share py_fallback
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Labels: Groupby, Refactor

#41306 [ArrowStringArray] CLN: assorted cleanup
  pandas/core/arrays/string_arrow.py
  pandas/core/strings/accessor.py
  pandas/core/strings/object_array.py
  pandas/tests/strings/conftest.py
  pandas/tests/strings/test_find_replace.py
  pandas/tests/strings/test_strings.py
Labels: Strings

#41315 CI: pin py310-dev version to alpha 7
  .github/workflows/python-dev.yml
Labels: Python 3.10

#41299 TYP: BaseWindowGroupby._grouper
  pandas/core/window/rolling.py
Labels: Typing, Window

#41298 REF: raise more selectively in libreduction
  pandas/_libs/reduction.pyx
  pandas/core/groupby/generic.py
  pandas/core/groupby/ops.py
Labels: Reductions, Refactor

#41307 Deprecate inplace in Categorical.set_categories.
  doc/source/user_guide/categorical.rst
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/arrays/categorical.py
  pandas/tests/arrays/categorical/test_analytics.py
  pandas/tests/arrays/categorical/test_api.py
  pandas/tests/frame/indexing/test_setitem.py
  pandas/tests/series/accessors/test_cat_accessor.py
Labels: Categorical, Deprecate

#41308 REF: share GroupBy.transform
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Labels: Groupby, Refactor

#41284 DOC: Fix docs for io/json/*
  ci/code_checks.sh
  pandas/io/json/_json.py
  pandas/io/json/_normalize.py
  pandas/io/json/_table_schema.py
Labels: Docs, IO JSON

#41312 [ArrowStringDtype] Make it already a StringDtype subclass
  pandas/core/arrays/base.py
  pandas/core/arrays/interval.py
  pandas/core/arrays/string_arrow.py
  pandas/core/strings/accessor.py
  pandas/tests/extension/json/array.py
Labels: Strings

#41326 [ArrowStringArray] PERF: use pa.compute.match_substring_regex for str.match if available
  pandas/core/arrays/string_arrow.py
  pandas/core/strings/base.py
  pandas/core/strings/object_array.py
  pandas/tests/strings/test_find_replace.py
Labels: Performance, Strings

#41263 BUG: RangeIndex.astype('category')
  doc/source/whatsnew/v1.3.0.rst
  pandas/_testing/asserters.py
  pandas/core/indexes/base.py
  pandas/tests/indexes/categorical/test_constructors.py
  pandas/tests/indexes/common.py
  pandas/tests/util/test_assert_index_equal.py
Labels: Dtypes, Index

#41288 Bug in iloc.setitem orienting IntegerArray into the wrong direction
  pandas/core/indexers.py
  pandas/core/internals/blocks.py
  pandas/tests/frame/indexing/test_setitem.py
  pandas/tests/indexing/test_iloc.py
Labels: Indexing, NA - MaskedArrays

#41317 REF: remove no-op casting
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
Labels: Groupby, Refactor

#40914 ENH: Nullable integer/boolean/floating support in lib inferencing functions
  pandas/_libs/lib.pyi
  pandas/_libs/lib.pyx
  pandas/_libs/ops.pyi
  pandas/_libs/ops.pyx
  pandas/core/dtypes/cast.py
  pandas/core/tools/numeric.py
  pandas/io/parsers/base_parser.py
  pandas/tests/dtypes/test_inference.py
Labels: Dtypes, Enhancement, NA - MaskedArrays

#41281 [ArrowStringArray] PERF: isin using native pyarrow function if available
  asv_bench/benchmarks/algos/isin.py
  pandas/core/algorithms.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/arrays/string_/test_string.py
Labels: Performance, Strings

#40990 TYP: libperiod
  pandas/_libs/tslibs/period.pyi
  pandas/_libs/tslibs/period.pyx
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/period.py
  pandas/core/resample.py
Labels: Typing

#41131 REF: mix NDArrayBacked into Categorical, PandasArray
  pandas/_libs/arrays.pyi
  pandas/_libs/tslibs/dtypes.pyi
  pandas/core/arrays/_mixins.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/datetimelike.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/numpy_.py
  pandas/core/arrays/period.py
  pandas/core/arrays/string_.py
  pandas/core/arrays/timedeltas.py
  pandas/core/groupby/ops.py
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimelike.py
  pandas/tests/indexes/categorical/test_category.py
Labels: ExtensionArray

#41328 Revert "CI: pin py310-dev version to alpha 7"
  .github/workflows/python-dev.yml
Labels: CI

#41201 TYP: io.parsers
  pandas/_libs/parsers.pyi
  pandas/_libs/parsers.pyx
  pandas/io/parsers/base_parser.py
  pandas/io/parsers/c_parser_wrapper.py
  pandas/io/parsers/python_parser.py
Labels: Typing

#41246 TYP: _libs.hashtable
  pandas/_libs/hashtable.pyi
  pandas/_libs/hashtable_class_helper.pxi.in
  pandas/core/algorithms.py
  pandas/core/frame.py
  pandas/core/reshape/merge.py
Labels: Typing

#41324 BUG: groupby(axis=0).rank(axis=1)
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
  pandas/tests/groupby/test_rank.py
Labels: Bug, Groupby

#41327 [ArrowStringArray] CLN: remove hasattr checks
  pandas/compat/__init__.py
  pandas/compat/pyarrow.py
  pandas/core/arrays/string_arrow.py
Labels: Clean, Strings

#41207 DEPS/CLN: remove distutils usage
  LICENSES/PACKAGING_LICENSE
  pandas/_libs/missing.pyx
  pandas/compat/_optional.py
  pandas/compat/numpy/__init__.py
  pandas/compat/numpy/function.py
  pandas/compat/pyarrow.py
  pandas/core/arrays/string_arrow.py
  pandas/core/computation/ops.py
  pandas/core/util/numba_.py
  pandas/io/clipboard/__init__.py
  pandas/io/excel/_base.py
  pandas/io/parquet.py
  pandas/io/sql.py
  pandas/plotting/_matplotlib/compat.py
  pandas/tests/arrays/interval/test_interval.py
  pandas/tests/arrays/masked/test_arrow_compat.py
  pandas/tests/arrays/period/test_arrow_compat.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/computation/test_compat.py
  pandas/tests/computation/test_eval.py
  pandas/tests/generic/test_to_xarray.py
  pandas/tests/io/excel/__init__.py
  pandas/tests/io/excel/test_readers.py
  pandas/tests/io/excel/test_xlrd.py
  pandas/tests/io/generate_legacy_storage_files.py
  pandas/tests/io/pytables/test_select.py
  pandas/tests/io/test_feather.py
  pandas/tests/io/test_parquet.py
  pandas/tests/test_common.py
  pandas/tests/util/test_show_versions.py
  pandas/util/_test_decorators.py
  pandas/util/version/__init__.py
  setup.py
Labels: Compat, Dependencies, Python 3.10

#41102 BUG: any/all not returning booleans for object type
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/nanops.py
  pandas/tests/apply/test_series_apply.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/reductions/test_reductions.py
  pandas/tests/test_nanops.py
Labels: Bug, Reductions

#41175 PERF: implement NDArrayBackedBlock
  pandas/_libs/arrays.pxd
  pandas/_libs/arrays.pyx
  pandas/_libs/internals.pyi
  pandas/_libs/internals.pyx
  pandas/core/apply.py
  pandas/core/groupby/ops.py
  pandas/core/internals/blocks.py
Labels: Internals

#41105 BUG: read_csv/table raising when sys.setprofile used
  doc/source/whatsnew/v1.3.0.rst
  pandas/io/parsers/readers.py
  pandas/tests/io/parser/common/test_common_basic.py
Labels: Bug, IO CSV

#41255 TYP: Simple type fixes for ExtensionArray
  pandas/_typing.py
  pandas/core/arrays/base.py
  pandas/core/frame.py
  pandas/core/series.py
Labels: ExtensionArray, Typing

#41330 CLN: remove unnecessary return from agg_series
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
Labels: Groupby

#41227 BUG: read_excel trailing blank rows and columns
  doc/source/whatsnew/v1.3.0.rst
  pandas/io/excel/_openpyxl.py
  pandas/io/excel/_pyxlsb.py
  pandas/tests/io/data/excel/trailing_blanks.ods
  pandas/tests/io/data/excel/trailing_blanks.xls
  pandas/tests/io/data/excel/trailing_blanks.xlsb
  pandas/tests/io/data/excel/trailing_blanks.xlsm
  pandas/tests/io/data/excel/trailing_blanks.xlsx
  pandas/tests/io/excel/test_readers.py
Labels: Bug, IO Excel

#41338 [ArrowStringArray] PERF: small perf gain for object fallback
  pandas/core/arrays/string_arrow.py
Labels: Performance, Strings

#41346 TST: catch/suppress test warnings
  pandas/tests/generic/test_finalize.py
  pandas/tests/io/__init__.py
  pandas/tests/io/formats/style/test_highlight.py
  pandas/tests/io/pytables/__init__.py
  pandas/tests/io/pytables/test_categorical.py
  pandas/tests/io/test_parquet.py
Labels: Testing

#41347 REF: move masked dispatch inside _ea_wrap_cython_operation
  pandas/core/groupby/ops.py
Labels: Groupby, NA - MaskedArrays, Refactor

#41341 TST: xfail incorrect test_empty_groupby
  pandas/tests/groupby/test_groupby.py
Labels: Groupby, Testing

#41354 REF: preserve Index dtype in BlockManager._combine
  pandas/core/internals/array_manager.py
  pandas/core/internals/managers.py
  pandas/tests/generic/test_generic.py
Labels: Dtypes, Reshaping

#41353 whatsnew about new engine param for to_sql (follow up to #40556)
  doc/source/whatsnew/v1.3.0.rst
Labels: Docs, IO SQL

#41348 REF: Share Block/ArrayManager set_axis
  pandas/core/groupby/generic.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/base.py
  pandas/core/internals/managers.py
Labels: Internals

#41331 REF: dont special-case ngroups==0
  pandas/_libs/reduction.pyx
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
  pandas/tests/groupby/test_bin_groupby.py
Labels: Groupby

#41301 COMPAT: frame round error msg for py310
  pandas/core/frame.py
  pandas/tests/frame/methods/test_round.py
Labels: Python 3.10

#41269 ENH: make `Styler` compatible with non-unique indexes
  doc/source/whatsnew/v1.3.0.rst
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_non_unique.py
  pandas/tests/io/formats/style/test_style.py
Labels: Styler

#41182 improved dataframe example to avoid confusion
  pandas/core/frame.py
Labels: Docs

#41359 REF: test_invalid_dtype in numeric index tests
  pandas/tests/indexes/common.py
  pandas/tests/indexes/numeric/test_numeric.py
  pandas/tests/indexes/ranges/test_range.py
Labels: Index, Testing

#41361 CLN: trim unreachable groupby paths
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Labels: Clean, Groupby

#41363 CLN: groupby
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
Labels: Groupby

#41371 CLN: Remove raise if missing only controlling the error message
  pandas/core/frame.py
  pandas/core/indexing.py
  pandas/tests/indexing/test_categorical.py
  pandas/tests/indexing/test_floats.py
  pandas/tests/indexing/test_iloc.py
  pandas/tests/indexing/test_indexing.py
  pandas/tests/indexing/test_loc.py
  pandas/tests/indexing/test_partial.py
  pandas/tests/series/indexing/test_getitem.py
  pandas/tests/series/indexing/test_indexing.py
Labels: Clean, Indexing

#41349 BUG : Min/max markers on box plot are not visible with 'dark_background' (#40769)
  doc/source/whatsnew/v1.3.0.rst
  pandas/plotting/_matplotlib/boxplot.py
  pandas/tests/plotting/frame/test_frame_color.py
  pandas/tests/plotting/test_boxplot_method.py
Labels: Bug, Visualization

#41396 [ArrowStringArray] TST: parametrize str.partition tests
  pandas/tests/strings/test_split_partition.py
Labels: Strings, Testing

#41392 [ArrowStringArray] TST: parametrize str.split tests
  asv_bench/benchmarks/strings.py
  pandas/tests/strings/test_split_partition.py
Labels: Strings, Testing

#41406 BUG: fix TypeError when looking up a str subclass on a DataFrame with…
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/indexing.py
  pandas/tests/indexing/test_datetime.py
Labels: Bug, Timeseries

#41344 REF: _cython_transform operate blockwise
  pandas/_libs/groupby.pyx
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/tests/apply/test_frame_transform.py
  pandas/tests/groupby/test_rank.py
Labels: Groupby, Refactor

#41400 DOC: Remove multiple blank lines in ipython directives
  doc/source/user_guide/basics.rst
  doc/source/user_guide/cookbook.rst
  doc/source/user_guide/groupby.rst
  doc/source/user_guide/io.rst
  doc/source/user_guide/merging.rst
  doc/source/user_guide/reshaping.rst
  doc/source/user_guide/sparse.rst
  doc/source/user_guide/text.rst
  doc/source/user_guide/timeseries.rst
  doc/source/user_guide/window.rst
Labels: CI, Docs

#41334 ENH: Add dropna argument to DataFrame.value_counts()
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/frame.py
  pandas/tests/frame/methods/test_value_counts.py
Labels: API - Consistency, Algos

#41387 TST: fix groupby xfails
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_rank.py
Labels: Groupby, Testing

#41397 DOC: specify regex=True in str.replace
  pandas/core/strings/accessor.py
Labels: Deprecate, Docs, Strings

#41398 DOC: Remove deprecated usage of Index.__xor__
  pandas/core/indexes/base.py
Labels: Deprecate, Index

#41384 TYP: SelectionMixin
  pandas/_typing.py
  pandas/core/apply.py
  pandas/core/base.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/grouper.py
  pandas/core/window/rolling.py
Labels: Typing

#41379 CLN: groupby assorted
  pandas/core/groupby/generic.py
  pandas/core/groupby/ops.py
  pandas/tests/groupby/test_groupby.py
Labels: Groupby

#41378 DEPR: kind kwarg in _maybe_cast_slice_bound
  doc/source/user_guide/scale.rst
  pandas/core/indexes/base.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/interval.py
  pandas/core/indexes/multi.py
  pandas/core/indexes/numeric.py
  pandas/core/indexes/period.py
  pandas/core/indexes/timedeltas.py
  pandas/core/indexing.py
  pandas/tests/indexes/datetimes/test_indexing.py
  pandas/tests/indexes/period/test_partial_slicing.py
  pandas/tests/indexes/test_indexing.py
Labels: Deprecate, Indexing

#41419 [ArrowStringArray] TST: parametrize str.extractall tests
  pandas/tests/strings/test_extract.py
Labels: Strings, Testing

#41414 CLN: fix numpy FutureWarning in tests
  pandas/tests/arithmetic/test_object.py
  pandas/tests/dtypes/test_inference.py
  pandas/tests/test_common.py
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/util/test_hashing.py
Labels: Compat

#41417 [ArrowStringArray] REF: extract/extractall column names
  pandas/core/strings/accessor.py
Labels: Refactor, Strings

#41424 CLN: Grouping.__init__ logic belonging in _convert_grouper
  pandas/core/groupby/grouper.py
Labels: Groupby, Refactor

#41427 BUG: DataFrameGroupBy.__getitem__ with non-unique columns
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/base.py
  pandas/core/groupby/generic.py
  pandas/tests/groupby/transform/test_transform.py
Labels: Bug, Groupby

#41352 TST/REF: split out replace regex into class
  pandas/tests/frame/methods/test_replace.py
Labels: Refactor, Testing, replace

#41244 REGR: Avoid error when defining non existing usecols with python engine
  pandas/io/parsers/python_parser.py
  pandas/tests/io/parser/usecols/test_usecols_basic.py
Labels: IO CSV, Regression, Upstream issue

#41431 TST: Add test for old issues
  pandas/tests/arrays/sparse/test_array.py
  pandas/tests/frame/methods/test_to_dict.py
  pandas/tests/groupby/test_apply.py
  pandas/tests/groupby/test_apply_mutate.py
  pandas/tests/indexes/object/__init__.py
  pandas/tests/indexes/test_base.py
  pandas/tests/reshape/merge/test_merge.py
  pandas/tests/series/indexing/test_getitem.py
  pandas/tests/series/indexing/test_setitem.py
Labels: Testing

#41430 CLN: Create tests/window/moments/conftest for specific fixtures
  pandas/tests/window/conftest.py
  pandas/tests/window/moments/conftest.py
  pandas/tests/window/test_api.py
Labels: Clean, Testing

#41420 [ArrowStringArray] TST: parametrize tests/strings/test_case_justify.py
  pandas/tests/strings/test_case_justify.py
Labels: Strings, Testing

#41418 [ArrowStringArray] REF: str.extract argument validation
  pandas/core/strings/accessor.py
Labels: Refactor, Strings

#41429 DEPR: setting Categorical._codes
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/arrays/categorical.py
  pandas/tests/arrays/categorical/test_api.py
Labels: Categorical, Deprecate

#41411 Bug in read_csv and read_excel not applying dtype to second col with dup cols
  doc/source/whatsnew/v1.3.0.rst
  pandas/_libs/parsers.pyx
  pandas/io/parsers/python_parser.py
  pandas/tests/io/data/excel/df_mangle_dup_col_dtypes.ods
  pandas/tests/io/data/excel/df_mangle_dup_col_dtypes.xls
  pandas/tests/io/data/excel/df_mangle_dup_col_dtypes.xlsb
  pandas/tests/io/data/excel/df_mangle_dup_col_dtypes.xlsm
  pandas/tests/io/data/excel/df_mangle_dup_col_dtypes.xlsx
  pandas/tests/io/excel/test_readers.py
  pandas/tests/io/parser/dtypes/test_dtypes_basic.py
Labels: IO CSV, IO Excel

#41402 DOC: Adding Cylon under ecosystem/out of core
  doc/source/ecosystem.rst
Labels: Docs

#41391 REF: add internal mechanics to separate index/columns sparsification in Styler
  pandas/io/formats/style_render.py
  pandas/tests/io/formats/style/test_style.py
Labels: Refactor, Styler

#41453 CI: Unpin nbformat after bugfix releases
  environment.yml
  requirements-dev.txt
Labels: CI, Dependencies

#41445 BUG: resample.apply with non-unique columns
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/groupby/generic.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/resample/test_datetime_index.py
  pandas/tests/resample/test_timedelta.py
Labels: Bug, Resample

#41436 TST: Added regression test
  pandas/tests/indexing/test_datetime.py
Labels: Testing, Timeseries

#41461 REF: remove _wrap_frame_output
  pandas/core/groupby/generic.py
Labels: Clean, Groupby

#41130 Deprecated usecols with out of bounds indices in read_csv
  doc/source/whatsnew/v1.3.0.rst
  pandas/_libs/parsers.pyx
  pandas/io/parsers/python_parser.py
  pandas/tests/io/parser/usecols/test_usecols_basic.py
Labels: Deprecate, IO CSV

#40557 TST: add test_ffill_with_string_column
  pandas/tests/groupby/test_missing.py
Labels: Missing-data, Strings, Testing

#41463 Fix deprecation warnings for empty series in docstrings
  pandas/core/generic.py
Labels: Docs

#41441 BUG: Series.str.extract with StringArray returning object dtype
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/strings/accessor.py
  pandas/tests/strings/test_strings.py
Labels: Bug, Strings

#41462 CI: Fix changed flake8 error message after upgrade
  .pre-commit-config.yaml
  environment.yml
  requirements-dev.txt
  scripts/tests/test_validate_docstrings.py
Labels: CI, Style

#41446 BUG: Raise ValueError if names and prefix are both defined
  doc/source/whatsnew/v1.3.0.rst
  pandas/io/parsers/readers.py
  pandas/tests/io/parser/common/test_common_basic.py
Labels: Error Reporting, IO CSV

#41471 [ArrowStringArray] TST: parametrize tests/strings/test_find_replace.py
  pandas/tests/strings/test_find_replace.py
Labels: Strings, Testing

#41469 TST/CLN: tighten some xfails
  doc/source/development/code_style.rst
  pandas/tests/apply/test_frame_apply.py
  pandas/tests/apply/test_frame_transform.py
  pandas/tests/apply/test_series_apply.py
  pandas/tests/arithmetic/test_interval.py
  pandas/tests/arrays/masked/test_arithmetic.py
  pandas/tests/arrays/masked/test_arrow_compat.py
  pandas/tests/arrays/sparse/test_arithmetics.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/arrays/test_datetimelike.py
Labels: Clean, Testing

#41470 [ArrowStringArray] TST: parametrize (part) pandas/tests/strings/test_api.py
  pandas/tests/strings/test_api.py
Labels: Strings, Testing

#41464 DOC: freeze old whatsnew notes part 1 #6856
  doc/source/whatsnew/v0.5.0.rst
  doc/source/whatsnew/v0.6.0.rst
  doc/source/whatsnew/v0.7.0.rst
  doc/source/whatsnew/v0.7.3.rst
Labels: Docs

#41454 DOC: Complete first sentence in DataFrame.hist (#41421).
  pandas/plotting/_core.py
Labels: Docs, Visualization

#41458 DEPR: DatetimeIndex.union with mixed timezones
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/indexes/base.py
  pandas/tests/indexes/datetimes/test_timezones.py
Labels: Deprecate, Index, Timezones

#41474 TST/CLN: move some tests
  pandas/tests/strings/test_case_justify.py
  pandas/tests/strings/test_get_dummies.py
  pandas/tests/strings/test_strings.py
Labels: Clean, Strings, Testing

#41443 Revert "Pin fastparquet to leq 0.5.0"
  ci/deps/actions-37-db.yaml
  ci/deps/azure-windows-38.yaml
  environment.yml
  pandas/io/parquet.py
  requirements-dev.txt
Labels: Dependencies

#41447 WEB: Fix maintainers grid not displaying correctly (GH41438)
  web/pandas/about/team.md
  web/pandas/static/css/pandas.css
Labels: Web

#41489 STYLE: Add pre-commit hook for debug statements
  .pre-commit-config.yaml
Labels: Style

#41499 TST/CLN: parameterize/dedup replace test
  pandas/tests/frame/methods/test_replace.py
Labels: Clean, Testing, replace

#41498 ENH: groupby rank supports object dtype
  doc/source/whatsnew/v1.3.0.rst
Labels: Docs, Groupby

#41444 DOC: Improve examples of df.append to better show the ignore_index param
  pandas/core/frame.py
Labels: Docs

#41375 REF: do less in Grouping.__init__
  pandas/core/groupby/generic.py
  pandas/core/groupby/grouper.py
Labels: Groupby

#41502 [ArrowStringArray] REF: dedup df creation in str.extract
  pandas/core/strings/accessor.py
Labels: Refactor, Strings

#41487 [ArrowStringArray] REF: _str_startswith/_str_endswith
  pandas/core/arrays/string_arrow.py
Labels: Refactor, Strings

#41482 TST: Add tests for old issues
  pandas/tests/apply/test_frame_apply.py
  pandas/tests/frame/methods/test_drop.py
  pandas/tests/frame/test_reductions.py
  pandas/tests/frame/test_stack_unstack.py
  pandas/tests/indexes/base_class/test_setops.py
  pandas/tests/indexing/multiindex/test_loc.py
  pandas/tests/indexing/test_chaining_and_caching.py
  pandas/tests/io/test_common.py
Labels: Testing

#41481 CI: Revert disable of some window test on Windows
  ci/run_tests.sh
Labels: CI

#41479 REF: Various things preparing instantiable NumericIndex
  pandas/core/indexes/base.py
  pandas/tests/indexes/numeric/test_numeric.py
  pandas/tests/indexes/ranges/test_range.py
Labels: Index

#41476 DEPS: bump pyarrow version to 0.17.0 #38870
  .github/workflows/database.yml
  ci/deps/actions-37-db-min.yaml
  ci/deps/actions-37-db.yaml
  ci/deps/actions-37-minimum_versions.yaml
  ci/deps/actions-37.yaml
  ci/deps/azure-macos-37.yaml
  ci/deps/azure-windows-37.yaml
  ci/deps/azure-windows-38.yaml
  doc/source/getting_started/install.rst
  doc/source/whatsnew/v1.3.0.rst
  environment.yml
  pandas/compat/_optional.py
  pandas/tests/arrays/interval/test_interval.py
  pandas/tests/arrays/masked/test_arrow_compat.py
  pandas/tests/arrays/period/test_arrow_compat.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/io/test_feather.py
  pandas/tests/io/test_parquet.py
  requirements-dev.txt
Labels: Dependencies

#41473 [ArrowStringArray] TST: move/combine a couple of tests
  pandas/tests/strings/test_case_justify.py
  pandas/tests/strings/test_split_partition.py
  pandas/tests/strings/test_string_array.py
Labels: Strings, Testing

#41425 BUG: always strip .freq when putting DTI/TDI into Series/DataFrame
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/base.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/blocks.py
  pandas/core/series.py
  pandas/tests/extension/test_datetime.py
  pandas/tests/frame/methods/test_set_index.py
  pandas/tests/window/test_rolling.py
Labels: Timeseries

#41433 TYP: define `subset` arg in `Styler`
  pandas/io/formats/style.py
  pandas/io/formats/style_render.py
Labels: Styler, Typing

#41403 REF: set _selection only in __init__
  pandas/core/resample.py
  pandas/core/window/ewm.py
  pandas/core/window/expanding.py
  pandas/core/window/rolling.py
Labels: Groupby, Refactor

#41426 REF: remove name arg from Grouping
  pandas/core/groupby/grouper.py
  pandas/core/groupby/ops.py
Labels: Groupby

#41484 TST/CLN: tests/strings/test_strings.py
  pandas/tests/strings/test_strings.py
Labels: Clean, Strings, Testing

#41519 CLN: remove try/except in _prep_ndarray
  pandas/core/internals/construction.py
Labels: Clean, Internals

#40149 PERF: DataFrame.transpose with dt64tz
  doc/source/whatsnew/v1.3.0.rst
  pandas/core/array_algos/take.py
  pandas/core/frame.py
  pandas/tests/frame/methods/test_transpose.py
Labels: Refactor

#41376 REF: document casting behavior in groupby
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
Labels: Dtypes, Groupby
