Repository pandas-dev/pandas, pull requests merged in 2023-02, with the labels that each got.

#51096 REF: avoid group_selection_context
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Labels: Refactor, Groupby

#51103 BUG: doc string error
  pandas/core/indexes/base.py
Labels: Docs, Deprecate

#51039 ENH: infer Timestamp unit in non-iso paths
  pandas/_libs/tslibs/conversion.pyx
  pandas/_libs/tslibs/parsing.pxd
  pandas/_libs/tslibs/parsing.pyi
  pandas/_libs/tslibs/parsing.pyx
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/scalar/timestamp/test_constructors.py
Labels: Non-Nano

#51106 DOC: remove reference to pandas v 0.21
  doc/source/user_guide/indexing.rst
Labels: Docs

#51095 DEPR: Remove NumericIndex from indexes/range.py
  pandas/core/indexes/range.py
Labels: Deprecate

#51100 DEPR: Remove NumericIndex from tests/arithmetic/
  pandas/tests/arithmetic/conftest.py
  pandas/tests/arithmetic/test_datetime64.py
  pandas/tests/arithmetic/test_numeric.py
  pandas/tests/arithmetic/test_timedelta64.py
Labels: Deprecate

#51036 TYP: Adjust typing for Blockplacement.__getitem__
  pandas/_libs/internals.pyi
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
Labels: Internals, Typing

#49912 API: various .value_counts() result in different names / indices
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/algorithms.py
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/categorical.py
  pandas/core/arrays/masked.py
  pandas/core/base.py
  pandas/core/frame.py
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/tests/arrays/boolean/test_function.py
  pandas/tests/arrays/floating/test_function.py
  pandas/tests/arrays/integer/test_function.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/arrays/test_datetimes.py
  pandas/tests/base/test_value_counts.py
  pandas/tests/extension/base/methods.py
  pandas/tests/frame/methods/test_asfreq.py
  pandas/tests/frame/methods/test_value_counts.py
  pandas/tests/frame/test_api.py
  pandas/tests/frame/test_arithmetic.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_value_counts.py
  pandas/tests/indexes/datetimelike_/test_value_counts.py
  pandas/tests/io/pytables/test_round_trip.py
  pandas/tests/reshape/test_get_dummies.py
  pandas/tests/series/methods/test_value_counts.py
  pandas/tests/test_algos.py
Labels: API Design, Algos

#51052 TYP: added missing __init__ in pandas/core/methods
  .pre-commit-config.yaml
  pandas/_testing/contexts.py
  pandas/core/frame.py
  pandas/core/methods/__init__.py
  pandas/core/window/common.py
  pandas/io/parsers/base_parser.py
  pandas/io/parsers/c_parser_wrapper.py
  pandas/io/parsers/python_parser.py
Labels: Typing

#51110 DOC Unsetting "copy_on_write" mode to remove EX02 errors
  ci/code_checks.sh
  pandas/errors/__init__.py
Labels: Docs

#51102 REF: GroupBy.ops don't depend on mutation status
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/grouper.py
  pandas/core/groupby/ops.py
  pandas/core/resample.py
  pandas/tests/window/test_groupby.py
Labels: Groupby, Clean

#51075 TST: fix test_empty_groupby xfails
  pandas/tests/groupby/test_groupby.py
Labels: Testing, Groupby

#50949 DEPR: parsing to tzlocal
  doc/source/whatsnew/v2.0.0.rst
  pandas/_libs/tslibs/parsing.pyx
  pandas/tests/tslibs/test_array_to_datetime.py
  pandas/tests/tslibs/test_parsing.py
Labels: Deprecate

#50983 BUG/ENH: fix pyarrow quantile xfails
  pandas/core/arrays/arrow/array.py
  pandas/tests/extension/test_arrow.py
Labels: Arrow

#51073 BUG: astype to string modifying input array inplace
  doc/source/whatsnew/v2.0.0.rst
  pandas/_libs/lib.pyx
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/frame/methods/test_astype.py
Labels: Dtype Conversions, Strings

#51090 PERF: avoid copy in _obj_with_exclusions, _selected_obj
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/base.py
  pandas/core/frame.py
  pandas/core/groupby/groupby.py
Labels: Groupby, Performance

#51113 CI fix test parsing
  pandas/tests/tslibs/test_parsing.py
Labels: CI

#51057 BUG: Series(category).replace to maintain order of categories
  pandas/core/arrays/categorical.py
  pandas/tests/arrays/categorical/test_replace.py
Labels: Bug, Categorical

#51114 DOC: Fix doc example in read_stata
  pandas/io/stata.py
Labels: Docs

#51120 CI: Pin pyarrow to < 11.0
  .github/actions/setup-conda/action.yml
  ci/deps/actions-310.yaml
  ci/deps/actions-311.yaml
  ci/deps/actions-38-downstream_compat.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39.yaml
  ci/deps/circle-38-arm64.yaml
  environment.yml
  requirements-dev.txt
Labels: CI

#50988 Min max added to reduction ops
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/computation/ops.py
  pandas/tests/frame/test_query_eval.py
Labels: expressions

#51111 DOC: Update docs to reflect that Index can hold int64, int32 etc. arrays
  doc/source/development/internals.rst
  doc/source/user_guide/advanced.rst
  doc/source/user_guide/indexing.rst
  doc/source/user_guide/io.rst
  doc/source/user_guide/timedeltas.rst
  doc/source/whatsnew/v0.13.0.rst
  doc/source/whatsnew/v2.0.0.rst
Labels: Docs

#51112 CLN: Assorted
  pandas/_testing/_random.py
  pandas/tests/io/formats/test_format.py
  pandas/util/_print_versions.py
Labels: Clean

#50992 BUG: to_datetime with out-of-bounds np.datetime64 and errors='ignore' doesn't return input
  doc/source/whatsnew/v2.0.0.rst
  pandas/_libs/tslib.pyx
  pandas/tests/tools/test_to_datetime.py
Labels: Timeseries

#51118 DEPR: remove NumericIndex.__new__ & ._should_fallback_to_positional
  pandas/core/indexes/base.py
  pandas/core/indexes/numeric.py
  pandas/tests/indexes/test_base.py
Labels: Deprecate, Index

#51066 REF: de-duplicate min_count checking in groupby.pyx
  pandas/_libs/groupby.pyx
Labels: Refactor, Groupby

#51011 DOC: Remove inplace from user guide
  doc/source/getting_started/comparison/includes/copies.rst
  doc/source/user_guide/advanced.rst
  doc/source/user_guide/basics.rst
  doc/source/user_guide/categorical.rst
  doc/source/user_guide/enhancingperf.rst
  doc/source/user_guide/groupby.rst
  doc/source/user_guide/indexing.rst
  doc/source/user_guide/missing_data.rst
Labels: Docs

#51098 DEPR: Remove NumericIndex from pandas/_testing/
  doc/source/whatsnew/v2.0.0.rst
  pandas/_testing/__init__.py
  pandas/_testing/asserters.py
Labels: Deprecate, Index

#51115 ENH: Add use_nullable_dtypes to read_spss
  doc/source/whatsnew/v2.0.0.rst
  pandas/io/spss.py
  pandas/tests/io/test_spss.py
Labels: Enhancement, NA - MaskedArrays, Arrow

#50877 TST: fix pyarrow arithmetic xfails
  pandas/tests/extension/test_arrow.py
Labels: Arrow

#50769 DEPR: deprecate Index.is_numeric
  doc/source/user_guide/scale.rst
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/arrays/categorical.py
  pandas/core/dtypes/common.py
  pandas/core/indexes/base.py
  pandas/plotting/_matplotlib/core.py
  pandas/tests/indexes/common.py
  pandas/tests/indexes/multi/test_equivalence.py
  pandas/tests/indexes/test_base.py
Labels: Deprecate, Index

#51127 DEPR: Remove various uses of NumericIndex
  pandas/core/indexes/datetimes.py
  pandas/tests/dtypes/test_missing.py
  pandas/tests/groupby/test_pipe.py
  pandas/tests/indexes/common.py
  pandas/tests/indexes/interval/test_constructors.py
  pandas/tests/indexes/test_base.py
  pandas/tests/indexes/test_common.py
  pandas/tests/indexes/test_index_new.py
  pandas/tests/indexes/test_indexing.py
  pandas/tests/indexing/test_floats.py
Labels: Deprecate, Index

#51117 REF: remove group_selection_context
  pandas/core/groupby/groupby.py
  pandas/core/groupby/indexing.py
  pandas/tests/groupby/transform/test_transform.py
Labels: Refactor, Groupby

#51132 DEPR: Remove NumericIndex from tests/indexes/test_numpy_compat.py
  pandas/tests/indexes/test_numpy_compat.py
Labels: Deprecate

#51139 DEPR: Remove NumericIndex
  pandas/_testing/asserters.py
  pandas/core/algorithms.py
  pandas/core/api.py
  pandas/core/base.py
  pandas/core/dtypes/generic.py
  pandas/core/indexes/api.py
  pandas/core/indexes/base.py
  pandas/core/indexes/numeric.py
  pandas/core/indexes/range.py
  pandas/io/formats/info.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/indexes/multi/test_names.py
  pandas/tests/indexes/numeric/test_numeric.py
  pandas/tests/indexes/test_any_index.py
  pandas/tests/indexes/test_common.py
  pandas/tests/resample/test_resample_api.py
Labels: Deprecate

#51143 DOC Correcting EX02 errors
  ci/code_checks.sh
  pandas/core/generic.py
Labels: Docs

#51124 DOC: remove inplace usage from docstring examples
  pandas/core/arrays/categorical.py
  pandas/core/frame.py
  pandas/core/generic.py
  pandas/core/indexes/base.py
  pandas/core/series.py
Labels: Docs

#50846 BUG: groupby.describe on a frame with duplicate column names
  doc/source/whatsnew/v2.0.0.rst
  pandas/tests/groupby/test_function.py
  pandas/tests/groupby/test_groupby.py
Labels: Bug, Groupby

#51005 BUG: Series.interpolate with dt64/td64 raises
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/internals/blocks.py
  pandas/core/missing.py
  pandas/tests/frame/methods/test_interpolate.py
  pandas/tests/series/methods/test_interpolate.py
Labels: Missing-data

#51125 CLN: Put exit_stack inside _query_iterator.
  pandas/io/sql.py
Labels: IO SQL, Clean

#51122 TYP: suppress pyright's information-level output
  .pre-commit-config.yaml
Labels: Typing

#51092 API: integer values and non-nano dtype
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/arrays/datetimes.py
  pandas/tests/series/test_constructors.py
Labels: Non-Nano

#51148 DOC: Add CoW optimizations to whatsnew
  doc/source/whatsnew/v2.0.0.rst
Labels: Docs

#51145 REF/API: dont alter Grouper in _get_grouper
  pandas/core/groupby/grouper.py
  pandas/core/resample.py
  pandas/tests/resample/test_time_grouper.py
Labels: Refactor, Groupby

#51135 REF: Resampler.groupby -> _timegrouper
  pandas/core/resample.py
Labels: Refactor, Groupby, Resample

#51153 DOC: Clean whatsnews
  doc/source/whatsnew/v1.5.0.rst
  doc/source/whatsnew/v2.0.0.rst
Labels: Docs

#51129 CLN: Use fixture dtype_backend in nullable tests
  pandas/conftest.py
  pandas/tests/io/excel/test_readers.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/parser/test_read_fwf.py
  pandas/tests/io/test_clipboard.py
  pandas/tests/io/test_feather.py
  pandas/tests/io/test_html.py
  pandas/tests/io/test_parquet.py
  pandas/tests/io/test_spss.py
  pandas/tests/io/test_sql.py
  pandas/tests/io/xml/test_xml.py
  pandas/tests/tools/test_to_numeric.py
Labels: Clean

#49804 TYP: avoid inherit_names for DatetimeIndexOpsMixin
  pandas/core/indexes/datetimelike.py
  pandas/core/indexes/datetimes.py
  pandas/core/indexes/period.py
  pandas/core/indexes/timedeltas.py
Labels: Typing

#51147 BUG: interpolate not respecting CoW
  pandas/core/internals/managers.py
  pandas/tests/copy_view/test_methods.py
Labels: Copy / view semantics

#51149 REF: avoid passing silently-ignored kwargs to Resampler
  pandas/core/resample.py
Labels: Refactor, Resample

#51131 DEPR: float/int(Series[single_elemet])
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/series.py
  pandas/tests/apply/test_invalid_arg.py
  pandas/tests/series/test_api.py
  pandas/tests/series/test_constructors.py
Labels: Deprecate

#51169 DOC: fix a typo "docstring" -> "docstrings"
  doc/source/development/contributing_codebase.rst
Labels: Docs

#51163 REF: Resampler subclasses remove unused arg, ensure parent is not None
  pandas/core/resample.py
Labels: Resample, Clean

#50958 DOC: add documentation to DataFrameGroupBy.skew and SeriesGroupBy.skew
  pandas/core/groupby/generic.py
Labels: Docs, Groupby

#51167 BUG: pd.array failing to raise with DataFrame
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/construction.py
  pandas/tests/arrays/test_array.py
Labels: ExtensionArray

#51042 DEPR: Remove *args and **kwargs on resample methods
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/resample.py
  pandas/tests/resample/test_datetime_index.py
  pandas/tests/resample/test_resample_api.py
Labels: Resample, Deprecate

#51176 DOC: fix various typos in plotting documentation
  pandas/plotting/_core.py
  pandas/plotting/_misc.py
Labels: Docs, Visualization

#51182 DEPR: Grouper.grouper, Grouper.groups
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/groupby/grouper.py
  pandas/tests/groupby/test_grouping.py
Labels: Groupby, Deprecate

#51185 REF: consolidate numeric_only checks in GroupBy
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/aggregate/test_cython.py
  pandas/tests/groupby/test_function.py
  pandas/tests/resample/test_resample_api.py
Labels: Refactor, Groupby, Error Reporting

#51088 TEST: join df with categorical multiIndex
  pandas/tests/reshape/merge/test_join.py
Labels: Testing

#51193 BUG: loc.setitem modifying values with empty indexer
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/common.py
  pandas/core/indexing.py
  pandas/tests/series/indexing/test_indexing.py
Labels: Indexing

#51187 REF: prune groupby paths
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/groupby/ops.py
  pandas/core/resample.py
Labels: Refactor, Groupby

#51178 TYP: resample
  pandas/core/generic.py
  pandas/core/resample.py
Labels: Resample, Typing

#51198 DOC Correcting EX02 errors
  ci/code_checks.sh
  pandas/core/dtypes/inference.py
Labels: Docs

#51200 DOC: fix-up numpy numeric Index docs
  doc/source/whatsnew/v2.0.0.rst
Labels: Docs

#51174 BUG: PandasArray.astype use astype_nansafe
  pandas/core/arrays/numpy_.py
  pandas/core/arrays/string_.py
  pandas/tests/extension/test_numpy.py
  pandas/tests/series/methods/test_astype.py
Labels: Dtype Conversions

#51191 BUG: setting non-string value into StringArray raises ValueError instead of TypeError
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/arrays/string_.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/arrays/string_/test_string.py
Labels: Indexing

#51155 REF: remove _get_grouper, make Grouper.__init__ less stateful
  pandas/core/groupby/grouper.py
  pandas/core/groupby/ops.py
Labels: Refactor, Groupby

#51137 CLN: Partially revert #29553
  pandas/core/array_algos/replace.py
  pandas/core/dtypes/common.py
  pandas/core/dtypes/missing.py
  pandas/core/internals/blocks.py
  pandas/tests/dtypes/test_common.py
Labels: Clean

#51184 REF: dont rely on Grouper.ax
  pandas/core/groupby/grouper.py
  pandas/core/resample.py
Labels: Refactor, Groupby

#51201 REF: de-duplicate wrap_agged_manager/wrap_aggregate_result
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/managers.py
Labels: Refactor, Groupby

#51151 Upgrade pyarrow minimum version to 7.0
  ci/deps/actions-38-minimum_versions.yaml
  doc/source/getting_started/install.rst
  doc/source/whatsnew/v2.0.0.rst
  pandas/_testing/__init__.py
  pandas/compat/__init__.py
  pandas/compat/_optional.py
  pandas/compat/pyarrow.py
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/arrow/dtype.py
  pandas/core/arrays/string_.py
  pandas/core/arrays/string_arrow.py
  pandas/tests/arrays/string_/test_string.py
  pandas/tests/arrays/string_/test_string_arrow.py
  pandas/tests/extension/test_arrow.py
  pandas/tests/extension/test_string.py
  pandas/tests/frame/methods/test_astype.py
  pandas/tests/groupby/test_groupby_dropna.py
  pandas/tests/indexes/multi/test_constructors.py
  pandas/tests/io/parser/test_parse_dates.py
  pandas/tests/io/test_parquet.py
  pyproject.toml
Labels: Dependencies, Arrow

#51157 BUG: catch decimal.InvalidOperation exception from dateutil
  doc/source/whatsnew/v2.0.0.rst
  pandas/_libs/tslibs/parsing.pyx
  pandas/tests/tools/test_to_datetime.py
  pandas/tests/tslibs/test_parsing.py
Labels: Bug, Timeseries

#51204 TYP: Upgrade mypy to 1.0
  doc/source/whatsnew/v2.0.0.rst
  environment.yml
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/boolean.py
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/floating.py
  pandas/core/arrays/integer.py
  pandas/core/arrays/sparse/array.py
  pandas/core/dtypes/cast.py
  pandas/core/frame.py
  pandas/core/reshape/merge.py
  pandas/core/series.py
  pandas/io/formats/format.py
  pandas/io/json/_json.py
  requirements-dev.txt
Labels: Typing

#51217 DOC Correcting EX02 errors
  ci/code_checks.sh
  pandas/_libs/lib.pyx
  pandas/core/dtypes/common.py
Labels: Docs, Code Style

#51214 REF: unused group_keys, indexer from BaseGrouper
  pandas/core/groupby/ops.py
Labels: Refactor, Groupby

#51144 CoW: Push reference tracking down to the block level
  doc/source/development/copy_on_write.rst
  doc/source/development/index.rst
  pandas/_libs/internals.pyi
  pandas/_libs/internals.pyx
  pandas/compat/pickle_compat.py
  pandas/core/generic.py
  pandas/core/internals/blocks.py
  pandas/core/internals/concat.py
  pandas/core/internals/managers.py
  pandas/core/internals/ops.py
  pandas/core/reshape/concat.py
  pandas/tests/copy_view/test_constructors.py
  pandas/tests/copy_view/test_core_functionalities.py
  pandas/tests/copy_view/test_internals.py
  pandas/tests/copy_view/test_methods.py
Labels: Copy / view semantics

#51231 DOC Correcting EX02 errors
  ci/code_checks.sh
  pandas/core/dtypes/inference.py
Labels: Docs, Code Style

#50428 ENH: Use lazy copy in infer objects
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/generic.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
  pandas/tests/copy_view/test_methods.py
Labels: Copy / view semantics

#51212 TST: suppress deprecation messages in doc tests for Index.is_foo
  pandas/core/indexes/base.py
Labels: Docs

#51119 DOC: Add rolling in reference/groupby.rst
  doc/source/reference/groupby.rst
  pandas/core/groupby/groupby.py
Labels: Docs, Groupby, Window

#50954 ENH: Allow dt accessor when using ArrowDtype with datetime types
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/accessor.py
  pandas/core/arrays/arrow/array.py
  pandas/core/arrays/arrow/dtype.py
  pandas/core/indexes/accessors.py
  pandas/tests/extension/test_arrow.py
Labels: Arrow

#51222 REF: remove aggregate_item_by_item
  pandas/core/groupby/generic.py
  pandas/core/resample.py
Labels: Refactor, Groupby

#51224 REF: remove _transform_item_by_item
  pandas/core/groupby/generic.py
Labels: Refactor, Groupby

#51232 TST: categorical alignment
  pandas/tests/series/test_arithmetic.py
Labels: Categorical

#51226 REF: simplify aggregate_frame, column-name-pinning
  pandas/core/groupby/generic.py
Labels: Refactor, Groupby

#51221 DEP: Deprecated pad/backfill for Series/DataFrame
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/generic.py
  pandas/tests/frame/methods/test_fillna.py
  pandas/tests/series/methods/test_fillna.py
Labels: Deprecate

#51220 REF: de-duplicate BusinessDay apply, apply_array
  pandas/_libs/tslibs/offsets.pyx
Labels: Refactor, Frequency

#51213 REF: remove copy keyword from ensure_foo
  pandas/_libs/algos.pyi
  pandas/_libs/algos_common_helper.pxi.in
  pandas/core/reshape/merge.py
Labels: Refactor

#51238 DOC: remove reference of NumericIndex in Int64Index docs
  pandas/core/indexes/numeric.py
Labels: Docs

#51234 TYP: more precise types + add type collections
  pandas/_testing/__init__.py
  pandas/conftest.py
  pandas/tests/frame/test_constructors.py
Labels: Testing, Typing

#51128 ENH: Implement arrow support for read_csv with engine=c
  doc/source/whatsnew/v2.0.0.rst
  pandas/_libs/parsers.pyx
  pandas/io/clipboards.py
  pandas/io/parsers/c_parser_wrapper.py
  pandas/io/parsers/readers.py
  pandas/tests/io/parser/dtypes/test_dtypes_basic.py
  pandas/tests/io/test_clipboard.py
Labels: IO CSV, Arrow

#51228 BUG: groupby.agg with numba and as_index=False
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/groupby/generic.py
  pandas/tests/groupby/aggregate/test_numba.py
  pandas/tests/groupby/transform/test_numba.py
Labels: Groupby, numba

#51229 DOC: add/fix Timedeltas docstrings
  ci/code_checks.sh
  pandas/_libs/tslibs/timedeltas.pyx
Labels: Docs, Timedelta

#50802 ENH: Add lazy copy to astype
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/dtypes/astype.py
  pandas/core/generic.py
  pandas/core/internals/array_manager.py
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
  pandas/tests/copy_view/test_astype.py
  pandas/tests/copy_view/test_constructors.py
  pandas/tests/extension/decimal/test_decimal.py
  pandas/tests/series/test_constructors.py
Labels: Copy / view semantics

#51087 BUG: can't round-trip non-nano Timestamp
  pandas/_libs/tslibs/conversion.pxd
  pandas/_libs/tslibs/conversion.pyx
  pandas/tests/scalar/timestamp/test_constructors.py
  pandas/tests/scalar/timestamp/test_timestamp.py
  pandas/tests/tools/test_to_datetime.py
Labels: Non-Nano

#51264 DOC Correct EX02 docstring errors
  ci/code_checks.sh
  pandas/core/dtypes/common.py
Labels: Docs, Code Style

#51223 ENH: add unit, as_unit to dt accessor
  doc/source/reference/series.rst
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/arrays/datetimes.py
  pandas/core/arrays/timedeltas.py
  pandas/core/indexes/accessors.py
  pandas/tests/series/accessors/test_cat_accessor.py
  pandas/tests/series/accessors/test_dt_accessor.py
Labels: Non-Nano

#50764 BUG: eval and query not working with ea dtypes
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/computation/common.py
  pandas/core/computation/eval.py
  pandas/tests/frame/test_query_eval.py
Labels: expressions, NA - MaskedArrays

#51262 DOC: Update pct_change documentation
  pandas/core/generic.py
Labels: Docs

#51257 TST: clean up some groupby xfails
  pandas/tests/groupby/test_api_consistency.py
Labels: Testing, Groupby, Clean

#51258 BUG: IntervalArray.shift with invalid NA fill_value
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/arrays/interval.py
  pandas/tests/arrays/interval/test_interval.py
Labels: Missing-data, Interval

#51206 DEPR: Grouper.ax, Grouper.obj, Grouper.indexer
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/groupby/grouper.py
  pandas/core/resample.py
  pandas/tests/groupby/test_grouping.py
Labels: Groupby, Deprecate

#51227 PERF: ArrowExtensionArray.to_numpy(dtype=object)
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/arrays/arrow/array.py
  pandas/tests/extension/test_arrow.py
Labels: Performance, Arrow

#48576 Make pandas/io/sql.py work with sqlalchemy 2.0
  ci/deps/actions-310.yaml
  ci/deps/actions-311.yaml
  ci/deps/actions-38-downstream_compat.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39.yaml
  ci/deps/circle-38-arm64.yaml
  doc/source/user_guide/io.rst
  doc/source/whatsnew/v2.0.0.rst
  environment.yml
  pandas/core/generic.py
  pandas/io/sql.py
  pandas/tests/io/test_sql.py
  requirements-dev.txt
Labels: Testing, IO SQL, Warnings

#51202 DOC: Minor doc cleanups
  ci/code_checks.sh
  doc/source/reference/indexing.rst
  doc/source/reference/io.rst
  doc/source/whatsnew/v1.5.0.rst
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/indexes/multi.py
  pandas/io/excel/_base.py
  pandas/io/excel/_odfreader.py
Labels: Docs

#51243 DOC fix EX02 algorithms.factorize docstring
  ci/code_checks.sh
  pandas/core/algorithms.py
Labels: Docs

#50998 ENH: support reductions for pyarrow temporal types
  pandas/compat/__init__.py
  pandas/compat/pyarrow.py
  pandas/core/arrays/arrow/array.py
  pandas/tests/extension/test_arrow.py
Labels: Arrow

#51006 CI: Test numpy 1.24 on 3.11 build
  ci/deps/actions-311.yaml
  pandas/compat/numpy/__init__.py
  pandas/core/arrays/masked.py
  pandas/core/arrays/timedeltas.py
  pandas/core/dtypes/astype.py
  pandas/core/dtypes/cast.py
  pandas/core/indexes/base.py
  pandas/tests/extension/test_period.py
  pandas/tests/io/parser/test_c_parser_only.py
  pandas/tests/series/test_constructors.py
Labels: CI

#50973 DOC: update style.ipynb for 2.0
  doc/source/user_guide/style.ipynb
Labels: Docs, Styler

#50871 CLN: remove redundant latex options
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/config_init.py
  pandas/core/generic.py
  pandas/tests/frame/test_repr_info.py
  pandas/tests/io/formats/test_to_latex.py
  pandas/tests/series/test_repr.py
Labels: IO LaTeX, Styler

#51259 CLN: simplify groupby wrapping
  pandas/core/groupby/generic.py
  pandas/core/groupby/groupby.py
Labels: Groupby, Clean

#50749 TST: Consolidate tests that raise in groupby
  pandas/tests/groupby/aggregate/test_cython.py
  pandas/tests/groupby/test_categorical.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_index_as_string.py
  pandas/tests/groupby/test_raises.py
Labels: Testing, Groupby, Clean

#51272 CI: Don't test min pyarrow version with multiple python versions
  .github/workflows/ubuntu.yml
Labels: CI, Arrow

#51265 ENH: Implement CoW for convert_dtypes
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/generic.py
  pandas/core/series.py
  pandas/tests/copy_view/test_astype.py
  pandas/tests/copy_view/util.py
Labels: Copy / view semantics

#51249 ENH: Add CoW optimization to interpolate
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
  pandas/tests/copy_view/test_interp_fillna.py
  pandas/tests/frame/methods/test_interpolate.py
Labels: Copy / view semantics

#51278 BUG: replace with inplace not respecting cow
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
  pandas/tests/copy_view/test_replace.py
Labels: replace, Copy / view semantics

#51219 CI/TST: Mark test_basic_series_frame_alignment for python engine as flaky
  pandas/tests/computation/test_eval.py
Labels: CI, Unreliable Test

#49249 read_json engine keyword and pyarrow integration
  doc/source/user_guide/io.rst
  doc/source/whatsnew/v2.0.0.rst
  pandas/_typing.py
  pandas/io/json/_json.py
  pandas/tests/io/json/conftest.py
  pandas/tests/io/json/test_pandas.py
  pandas/tests/io/json/test_readlines.py
Labels: IO JSON, Arrow

#51292 TST: add CoW tests for xs() and get()
  pandas/tests/copy_view/test_methods.py
  pandas/tests/copy_view/util.py
Labels: Copy / view semantics

#51293 TST: enable CoW copy keyword tests for astype/infer_objects
  pandas/tests/copy_view/test_methods.py
Labels: Copy / view semantics

#51289 CI: Xfail plotting tests
  pandas/tests/plotting/frame/test_frame_subplots.py
  pandas/tests/plotting/test_series.py
Labels: CI

#51031 ENH: Avoid copying unnecessary columns in setitem by splitting blocks for CoW
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
  pandas/tests/copy_view/test_indexing.py
Labels: Copy / view semantics

#50777 API / CoW: DataFrame(<dict of Series>, copy=False) constructor now gives lazy copy
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/internals/blocks.py
  pandas/core/internals/construction.py
  pandas/core/internals/managers.py
  pandas/core/reshape/concat.py
  pandas/tests/copy_view/test_constructors.py
Labels: Constructors, Copy / view semantics

#51275 DOC: Remove reference to mysql fallback support from user guide.
  doc/source/user_guide/io.rst
Labels: Docs, IO SQL

#51205 API: dont infer dtype for object-dtype groupby reductions
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/groupby/groupby.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/groupby/aggregate/test_other.py
  pandas/tests/groupby/test_function.py
  pandas/tests/groupby/test_groupby.py
  pandas/tests/groupby/test_min_max.py
Labels: Groupby, Dtype Conversions, API - Consistency

#51175 CI: unpin pyarrow, fix failing test
  .github/actions/setup-conda/action.yml
  ci/deps/actions-310.yaml
  ci/deps/actions-311.yaml
  ci/deps/actions-38-downstream_compat.yaml
  ci/deps/actions-38.yaml
  ci/deps/actions-39.yaml
  ci/deps/circle-38-arm64.yaml
  environment.yml
  pandas/core/arrays/arrow/array.py
  pandas/core/tools/timedeltas.py
  pandas/tests/extension/test_arrow.py
  requirements-dev.txt
Labels: CI, Arrow

#51268 ENH: Optimize putmask implementation for CoW
  pandas/core/generic.py
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
  pandas/tests/copy_view/test_methods.py
Labels: Copy / view semantics

#50539 API: Series and DataFrame constructors to return shallow copy (i.e. don't share index) from another Series/DataFrame
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/frame.py
  pandas/core/series.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/series/test_constructors.py
Labels: API Design, Constructors

#51303 TST: Test mask/where inplace don't modify views with CoW
  pandas/tests/copy_view/test_replace.py
Labels: Testing, Copy / view semantics

#51255 BUG: Groupby.filter with pd.NA
  pandas/core/groupby/generic.py
  pandas/tests/groupby/test_filters.py
Labels: Groupby, Missing-data

#48952 BLD: Build arm64 wheels on CircleCI
  .circleci/config.yml
Labels: Build

#51314 CLN: Move DeepChainMap to only location used
  pandas/compat/chainmap.py
  pandas/core/computation/pytables.py
  pandas/core/computation/scope.py
Labels: Clean

#51306 DOC: fix EX02 errors in docstrings
  ci/code_checks.sh
  pandas/core/dtypes/common.py
Labels: Docs

#51310 DOC: fix Series.name docstring, closes #42550
  pandas/core/series.py
Labels: Docs

#51299 BUG: avoid StringArray.__setitem__ to mutate the value being set as side-effect
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/arrays/string_.py
  pandas/tests/arrays/string_/test_string.py
Labels: Bug, Strings

#51279 ENH: Add CoW optimization for fillna
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/internals/blocks.py
  pandas/core/internals/managers.py
  pandas/tests/copy_view/test_interp_fillna.py
  pandas/tests/extension/base/methods.py
  pandas/tests/extension/test_datetime.py
  pandas/tests/extension/test_interval.py
  pandas/tests/extension/test_period.py
Labels: Copy / view semantics

#51296 TST: add CoW test for setitem with Series being set
  pandas/tests/copy_view/test_methods.py
Labels: Copy / view semantics

#51301 TST: avoid mutating DataFrame.values in tests (use iloc instead)
  pandas/_testing/__init__.py
  pandas/tests/frame/indexing/test_indexing.py
  pandas/tests/frame/methods/test_cov_corr.py
  pandas/tests/frame/methods/test_fillna.py
  pandas/tests/frame/test_constructors.py
  pandas/tests/groupby/test_function.py
  pandas/tests/indexing/multiindex/test_slice.py
  pandas/tests/io/pytables/test_round_trip.py
  pandas/tests/series/indexing/test_setitem.py
  pandas/tests/series/methods/test_fillna.py
Labels: Testing

#51325 TYP: Fix missed copy annotations in concat
  pandas/core/reshape/concat.py
Labels: Typing

#51323 DOC: fix EX02 errors in docstrings II
  ci/code_checks.sh
  pandas/core/dtypes/common.py
Labels: Docs, Code Style

#51297 ENH: enable lazy copy in merge() for CoW
  pandas/core/reshape/merge.py
  pandas/tests/copy_view/test_functions.py
Labels: Copy / view semantics

#51288 DOC Fix EX01 errors - added example
  ci/code_checks.sh
  pandas/core/base.py
Labels: Docs, Code Style

#50348 BUG: Timestamp.replace handle out-of-pydatetime range
  pandas/_libs/tslibs/timestamps.pyx
  pandas/tests/scalar/timestamp/test_unary_ops.py
  pandas/tests/tseries/offsets/test_year.py
Labels: Non-Nano, Timestamp

#51290 CI pre-commit autoupdate
  .pre-commit-config.yaml
  pandas/_libs/index.pyi
  pandas/_libs/tslibs/np_datetime.pxd
  pyproject.toml
Labels: Code Style

#51326 BLD: Fix regex in arm64 wheel builders
  .circleci/config.yml
Labels: Build

#51337 DOC: fix EX02 errors in docstrings III
  ci/code_checks.sh
  pandas/_libs/tslibs/period.pyx
  pandas/core/ops/docstrings.py
Labels: Docs

#50863 BUG: Fix agg ingore arg/kwargs when given list like func
  doc/source/whatsnew/v2.0.0.rst
  pandas/core/apply.py
  pandas/core/groupby/generic.py
  pandas/tests/apply/test_frame_apply.py
  pandas/tests/apply/test_series_apply.py
  pandas/tests/groupby/aggregate/test_aggregate.py
  pandas/tests/resample/test_resample_api.py
Labels: Apply

#51355 BUG: iterparse on `read_xml` ignores repeated elements
  doc/source/whatsnew/v2.0.0.rst
  pandas/io/xml.py
  pandas/tests/io/xml/test_xml.py
Labels: IO XML

#51354 TST: xfail flaky test
  pandas/tests/io/parser/common/test_file_buffer_url.py
Labels: Unreliable Test
